{% extends 'base1.html' %} 
{% load static %} 
{% load lang_filter %} 
{% block css %}
<style>
    .sponsor-logo {
        width: 30px;
        /* Adjust the size as needed */
        height: 30px;
        border-radius: 50%;
        /* Makes the image round */
        object-fit: cover;
        /* Ensures the image fits the circle without distortion */
        margin-right: 5px;
        /* Space between logos */
        margin-left: 5px;
    }
.text a {
    word-break: break-word;
    overflow-wrap: break-word;
    display: block;
    max-width: 100%;
    white-space: normal;
}

</style>
{% endblock %} 
{% block title %} Goalactico || Team-Page-Detail{% endblock %} 
{% block content %} 
<!-- Main Content Here-->
<div class="page-wrapper">
    <section class="team-profile-area pt-220 rpt-150 pb-130 rpb-100 rel">
        <div class="container container-1290">
            <div class="row gap-100 align-items-center">
                <div class="col-lg-6">
                    <div class="team-profile-image rmb-55 wow fadeInLeft delay-0-2s">
                        {% if team.team_logo %}
                        <img src="{{ team.team_logo.url }}" alt="{{ team.team_name }}">
                        {% else %}
                        <img src="{% static 'frontend/assets/images/profile-pic.jpg' %}" class="img-fluid" alt="{{ team.team_name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="team-profile-content wow fadeInRight delay-0-2s">
                        <h2>
                            {% if current_language == 'en' %}
                            {{ team.team_name }}
                            {% elif current_language == 'ar' %}
                            {{ team.team_name }} <!-- Assuming you have the Arabic translation field -->
                            {% endif %}
                        </h2>
                        <span class="designation">
                            {% if current_language == 'en' %}
                            {{ team.team_type.name_en }}
                            {% elif current_language == 'ar' %}
                            {{ team.team_type.name_ar }} <!-- Assuming you have the Arabic translation field -->
                            {% endif %}
                        </span>
                        <p>
                            {% if current_language == 'en' %}
                            {{ team.bio }}
                            {% elif current_language == 'ar' %}
                            {{ team.bio }}
                            {% endif %}
                        </p>
                        <div class="team-sub-title mt-55 mb-30">
                            <h4>
                                {% if current_language == 'en' %}
                                Get In Touch
                                {% elif current_language == 'ar' %}
                                تواصل معنا
                                {% endif %}
                            </h4>
                        </div>
                        <!-- Display Team Contact Information -->
                        <div class="row">
                            <div class="col-sm-6 contact-info-item">
                                <div class="icon" style="margin-left: {% if current_language == 'ar' %}10px{% else %}0{% endif %};">
                                    <i class="fa fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    <b class="title">
                                        {% if current_language == 'en' %}
                                        Location
                                        {% elif current_language == 'ar' %}
                                        الموقع
                                        {% endif %}
                                    </b>
                                    <span class="text">{{ team.city_id.name }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 contact-info-item">
                                <div class="icon" style="margin-left: {% if current_language == 'ar' %}10px{% else %}0{% endif %};">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="content">
                                    <b class="title">
                                        {% if current_language == 'en' %}
                                        Team Founder
                                        {% elif current_language == 'ar' %}
                                        مؤسس الفريق
                                        {% endif %}
                                    </b>
                                    <span class="text">{{ team.team_founder.username }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 contact-info-item">
                                <div class="icon" style="margin-left: {% if current_language == 'ar' %}10px{% else %}0{% endif %};">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <b class="title">
                                        {% if current_language == 'en' %}
                                        Email Address
                                        {% elif current_language == 'ar' %}
                                        عنوان البريد الإلكتروني
                                        {% endif %}
                                    </b>
                                    <span class="text">
                                        <a href="mailto:{{ team.email }}">{{ team.email }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6 contact-info-item">
                                <div class="icon" style="margin-left: {% if current_language == 'ar' %}10px{% else %}0{% endif %};">
                                    <i class="far fa-calendar"></i>
                                </div>
                                <div class="content">
                                    <b class="title">
                                        {% if current_language == 'en' %}
                                        Establishment Date
                                        {% elif current_language == 'ar' %}
                                        تاريخ التأسيس
                                        {% endif %}
                                    </b>
                                    <span class="text">{{ team.team_establishment_date|date:"d M Y" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 contact-info-item">
                                <div class="icon" style="margin-left: {% if current_language == 'ar' %}10px{% else %}0{% endif %};">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="content">
                                    <b class="title">
                                        {% if current_language == 'en' %}
                                        Phone Us
                                        {% elif current_language == 'ar' %}
                                        اتصل بنا
                                        {% endif %}
                                    </b>
                                    <span class="text">
                                        <a href="callto:{{ team.phone }}">{{ team.phone }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6 contact-info-item">
                                <div class="icon" style="margin-left: {% if current_language == 'ar' %}10px{% else %}0{% endif %};">
                                    <i class="far fa-user"></i>
                                </div>
                                <div class="content">
                                    <b class="title">
                                        {% if current_language == 'en' %}
                                        President
                                        {% elif current_language == 'ar' %}
                                        الرئيس
                                        {% endif %}
                                    </b>
                                    <span class="text">{{ team.team_president }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Branches Section -->
                <div class="stats-info-wrapper wow fadeInUp delay-0-5s animated">
                    <h5>
                        {% if current_language == 'en' %}
                        Teams
                        {% elif current_language == 'ar' %}
                        الفرق
                        {% endif %}
                    </h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        {% if current_language == 'en' %}
                                        No.
                                        {% elif current_language == 'ar' %}
                                        رقم
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Team Name
                                        {% elif current_language == 'ar' %}
                                        اسم الفريق
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Age Group
                                        {% elif current_language == 'ar' %}
                                        الفئة العمرية
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Entry Fees
                                        {% elif current_language == 'ar' %}
                                        رسوم الدخول
                                        {% endif %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for branch in branches %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ branch.team_name }}</td>
                                    <td>{{ branch.age_group_id.name_en }}</td>
                                    <td>{{ system_settings.currency_symbol }} {{ branch.entry_fees }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">
                                        {% if current_language == 'en' %}
                                        No Teams available.
                                        {% elif current_language == 'ar' %}
                                        لا توجد فرق متاحة
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Sponsors Section -->
                <div class="stats-info-wrapper wow fadeInUp delay-0-5s animated">
                    <h5>
                        {% if current_language == 'en' %}
                        Sponsors
                        {% elif current_language == 'ar' %}
                        الرعاة
                        {% endif %}
                    </h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        {% if current_language == 'en' %}
                                        No.
                                        {% elif current_language == 'ar' %}
                                        رقم
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Sponsor Name
                                        {% elif current_language == 'ar' %}
                                        اسم الراعي
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Logo
                                        {% elif current_language == 'ar' %}
                                        الشعار
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Website
                                        {% elif current_language == 'ar' %}
                                        الموقع
                                        {% endif %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sponsor in sponsors %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ sponsor.name }}</td>
                                    <td>
                                        {% if sponsor.logo %}
                                        <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }} Logo" class="sponsor-logo">
                                        {% else %}
                                        No logo available
                                        {% endif %}
                                    </td>
                                    <td>{{ sponsor.url }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">
                                        {% if current_language == 'en' %}
                                        No sponsors available.
                                        {% elif current_language == 'ar' %}
                                        لا توجد رعاة متاحين
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Events Section -->
                <div class="stats-info-wrapper wow fadeInUp delay-0-5s animated">
                    <h5>
                        {% if current_language == 'en' %}
                        Events
                        {% elif current_language == 'ar' %}
                        الفعاليات
                        {% endif %}
                    </h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        {% if current_language == 'en' %}
                                        No.
                                        {% elif current_language == 'ar' %}
                                        رقم
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Event Name
                                        {% elif current_language == 'ar' %}
                                        اسم الحدث
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Date
                                        {% elif current_language == 'ar' %}
                                        التاريخ
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Event Type
                                        {% elif current_language == 'ar' %}
                                        نوع الحدث
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Event Cost
                                        {% elif current_language == 'ar' %}
                                        تكلفة الحدث
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                        Total Tickets Sold
                                        {% elif current_language == 'ar' %}
                                        إجمالي التذاكر المباعة
                                        {% endif %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events_with_sales %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ event.event.event_name }}</td>
                                    <td>{{ event.event.event_date }}</td>
                                    <td>{{ event.event.event_type.name_en }}</td>
                                    <td>{{ system_settings.currency_symbol }} {{ event.event.event_cost }}</td>
                                    <td>{{ event.total_tickets_sold }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6">
                                        {% if current_language == 'en' %}
                                        No events available.
                                        {% elif current_language == 'ar' %}
                                        لا توجد فعاليات متاحة
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </section>

    <!-- Scroll to top button -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fas fa-angle-double-up"></span>
    </button>
</div>

{% endblock %} 
{% block scriptcontent %} 
{% endblock %} 
{% block script %} 
<script>
    new WOW().init();
</script> {% endblock %}