{% extends 'base1.html' %}

{% load static %}

{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}
{% block title %} Future Star || Advertise{% endblock %}
{% block content %}


 <!-- Page Banner Start -->
 <section class="advertise-page-banner common-banner text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="banner-inner">
                    <h1 class="page-title wow fadeInUp delay-0-2s">Future Stars your gateway to millions of players</h1>
                    <p>join us to Capture the attention and loyalty of ambitious young players. Connect with amateur
                        players through our platform and elevate your brand with impactful campaigns and activations.
                        Propel your business forward with Grintafy.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Banner End -->

 <!-- Audience Info Area start -->
 <section class="audience-info py-100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="infowrapper wow fadeInUp delay-0-5s animated">
                    <img src="{% static 'frontend/assets/images/advertise/audience-insights.png' %}" class="img-fluid" alt="">
                    <h4 class="info-head">Audience Insights</h4>
                    <p class="info-des">Our cards are open, it is your right to know the audience you’re
                        targeting, through our insights feature.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="infowrapper wow fadeInUp delay-0-8s animated mb-0">
                    <img src="{% static 'frontend/assets/images/advertise/audience-distribution.png' %}" class="img-fluid" alt="">
                    <h4 class="info-head">Audience Distribution</h4>
                    <p class="info-des">Our cards are open, it is your right to know the audience you’re
                        targeting, through our insights feature.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Audience Info Area end -->

<!-- Partnership With Us Area start -->
<section class="partnership-with-us text-center py-100"
style="background-image: url('{% static 'frontend/assets/images/hero/hero-two-bg.png' %}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-11">
                <div class="section-title mb-60 wow fadeInUp delay-0-5s animated">
                    <span class="sub-title">Partnership with Future Stars</span>
                    <h3>Partner with Future Stars to revolutionize football talent scouting and development!</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="info-wrapper wow fadeInLeft delay-0-7s">
                    <div class="img-wrapper"><img src="{% static 'frontend/assets/images/advertise/tshirt.jpg' %}" alt=""
                            class="img-fluid"></div>
                    <h4 class="info-head">Hosting Tryouts</h4>
                    <p class="info-des">Whether you're looking to host local and regional tryouts, offer
                        international football experiences, or access exclusive media content, our partnership
                        opportunities provide unparalleled benefits.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-wrapper mb-0 wow fadeInRight delay-0-7s">
                    <div class="img-wrapper"><img src="{% static 'frontend/assets/images/advertise/content.jpg' %}" alt=""
                            class="img-fluid"></div>
                    <h4 class="info-head">Access to Exclusive Content</h4>
                    <p class="info-des">Whether you're looking to host local and regional tryouts, offer
                        international football experiences, or access exclusive media content, our partnership
                        opportunities provide unparalleled benefits.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Partnership With Us Area end -->


<!-- Apps Advertise Area start -->
<section class="apps-advertise py-100 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-11">
                <div class="section-title mb-60 wow fadeInUp delay-0-5s animated">
                    <span class="sub-title">Future Stars  App Ads</span>
                    <h3> In App Advertising Showcase Your Product And Promotion To Consumers In A Variety Of Display Ad Options.</h3>
                </div>
            </div>
        </div>

        <div class="apps-advertise-slider">
            <div class="wow fadeInUp delay-0-2s animated">
                <img src="{% static 'frontend/assets/images/advertise/apps-ads-img-1.png' %}" class="img-fluid" alt="">
            </div>
            <div class="wow fadeInUp delay-0-4s animated">
                <img src="{% static 'frontend/assets/images/advertise/apps-ads-img-2.png' %}" class="img-fluid" alt="">
            </div>
            <div class="wow fadeInUp delay-0-6s animated">
                <img src="{% static 'frontend/assets/images/advertise/apps-ads-img-3.png' %}" class="img-fluid" alt="">
            </div>
            <div class="wow fadeInUp delay-0-8s animated">
                <img src="{% static 'frontend/assets/images/advertise/apps-ads-img-4.png' %}" class="img-fluid" alt="">
            </div>
            <div class="wow fadeInUp delay-0-4s animated">
                <img src="{% static 'frontend/assets/images/advertise/apps-ads-img-2.png' %}" class="img-fluid" alt="">
            </div>
        </div>
        <div class="work-gallery-controls">
            <button class="apps-advertise-slider-prev">
                <i class="far fa-chevron-left"></i>
            </button>
            <div class="apps-advertise-slider-dots"></div>
            <button class="apps-advertise-slider-next">
                <i class="far fa-chevron-right"></i>
            </button>
        </div>
    </div>
</section>
<!-- Apps Advertise Area end -->

<!-- Premium Features Area start -->
<section class="premium-features py-100">
    <div class="container">
        <div class="section-title text-center mb-60 wow fadeInUp delay-0-5s animated">
            <h2>Premium  Features</h2>
        </div>
        <div class="features-main-wrapper">
            <div class="features-wrapper wow fadeInUp delay-0-2s animated">
                <img src="{% static 'frontend/assets/images/advertise/location.png' %}" class="img-fluid" alt="">
                <h6 class="info-head">Location targeting</h6>
            </div>
            <div class="features-wrapper wow fadeInUp delay-0-3s animated">
                <img src="{% static 'frontend/assets/images/advertise/age.png' %}" class="img-fluid" alt="">
                <h6 class="info-head">Age Targeting</h6>
            </div>
            <div class="features-wrapper wow fadeInUp delay-0-4s animated">
                <img src="{% static 'frontend/assets/images/advertise/campaign.png' %}" class="img-fluid" alt="">
                <h6 class="info-head">Campaign Timeline</h6>
            </div>
            <div class="features-wrapper wow fadeInUp delay-0-5s animated">
                <img src="{% static 'frontend/assets/images/advertise/ads.png' %}" class="img-fluid" alt="">
                <h6 class="info-head">Ads Placements</h6>
            </div>
            <div class="features-wrapper wow fadeInUp delay-0-6s animated">
                <img src="{% static 'frontend/assets/images/advertise/insight.png' %}" class="img-fluid" alt="">
                <h6 class="info-head">Campaign Insights</h6>
            </div>
            <div class="features-wrapper wow fadeInUp delay-0-7s animated">
                <img src="{% static 'frontend/assets/images/advertise/tracking.png' %}" class="img-fluid" alt="">
                <h6 class="info-head">Campaign Tracking</h6>
            </div>
            <div class="features-wrapper wow fadeInUp delay-0-8s animated">
                <img src="{% static 'frontend/assets/images/advertise/ctas.png' %}" class="img-fluid" alt="">
                <h6 class="info-head">Custom CTA’s</h6>
            </div>
            <div class="features-wrapper wow fadeInUp delay-0-9s animated">
                <img src="{% static 'frontend/assets/images/advertise/video-ads.png' %}" class="img-fluid" alt="">
                <h6 class="info-head">Video/Images Ads</h6>
            </div>
        </div>
    </div>
 </section>
<!-- Premium Features Area end -->

 <!-- Social Media Area start -->
 <section class="social-media py-100 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title mb-60 wow fadeInUp delay-0-5s animated">
                    <h2>Future Stars  Social Media</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-md-4 order-md-2 wow fadeInUp delay-0-9s animated">
                <img src="{% static 'frontend/assets/images/advertise/social-media-main.png' %}" class="img-fluid" alt="">
            </div>                
            <div class="col-md-4 order-md-1 wow fadeInLeft delay-0-6s animated">    
            <div class="info-wrapper right">
                    <p class="info-des">Elevate your brand visibility with captivating daily content and stories.</p>
                    <p class="info-des">Follow our journey and get regular, detailed updates on  TDC's advancements.</p>
                    <p class="info-des">Join us in recognizing the top 25 TDC winners for their remarkable achievements.</p>
                </div>
            </div>
    
            <div class="col-md-4 order-md-3 wow fadeInRight delay-0-6s animated">
                <div class="info-wrapper left">
                    <p class="info-des">Elevate your brand visibility with captivating daily content and stories.</p>
                    <p class="info-des">Follow our journey and get regular, detailed updates on  TDC's advancements.</p>
                    <p class="info-des">Join us in recognizing the top 25 TDC winners for their remarkable achievements.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Social Media Area end -->

<!-- Start Training Section -->
<section class="who-we-are-area training-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title wow fadeInUp delay-0-5s">
                    <h3>Future Stars  Competitions</h3>
                </div>
                <p>Make Name  Your Competition personal and unique!</p>
                <p>Add/Remove Challenges Have complete control over the challenges you want to include.</p>
                <p>Our competition is open-ended with No Time Limits, so there are no constraints on when you can participate. Take your time to perfect your talent and share it with the world  whenever you're ready.</p>
                <p>Customize your own rules and requirements  to suit your competition’s needs. Create a tailored experience that matches your vision.</p>
                <p>Make Name  Your Competition personal and unique!</p>
                <p>Add/Remove Challenges Have complete control over the challenges you want to include.</p>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp delay-0-3s">
                    <div class="main-image">
                        <img src="{% static 'frontend/assets/images/discover/taining-2.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>            
    </div>
</section>
<!-- End Training Section -->


{% endblock %}

{% block scriptcontent %}

{% endblock %}
{% block script %} 
<script>new WOW().init();</script>
{% endblock %}