{% extends 'base1.html' %}

{% load static %}
{% load lang_filter %}
{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}
{% block meta_title %}
{% lang cmsdata current_language "meta_title" as meta_title %}
{{meta_title}}
{% endblock %}

{% block meta_description %}
{% lang cmsdata current_language "meta_content" as meta_content %}
{{meta_content}}
{% endblock %}
{% block title %}
    {% if current_language == 'en' %}
        Goalactico || Advertise
    {% elif current_language == 'ar' %}
        جولأكتكو || إعلانات
    {% endif %}
{% endblock %}
{% block content %}


 <!-- Page Banner Start -->
 <section class="advertise-page-banner common-banner text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="banner-inner">
                    <h1 class="page-title wow fadeInUp delay-0-2s">
                        {% lang cmsdata current_language "heading_title" as heading_title %}
                        {{heading_title}}
                    </h1>
                    <p>
                        {% lang cmsdata current_language "heading_content" as heading_content %}
                        {{heading_content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Banner End -->

 <!-- Audience Info Area start -->
 <section class="audience-info py-100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="infowrapper wow fadeInUp delay-0-5s animated">
                    <img src="/media/{{cmsdata.section_2_images}}" class="img-fluid" alt="">
                    <h4 class="info-head">
                        {% lang cmsdata current_language "section_2_title" as section_2_title %}
                        {{section_2_title}}
                    </h4>
                    <p class="info-des">
                        {% lang cmsdata current_language "section_2_content" as section_2_content %}
                        {{section_2_content}}
                    </p>
                </div>
            </div>
            {% for dynamic_field in dynamic_field %}
            <div class="col-md-6">
                <div class="infowrapper wow fadeInUp delay-0-8s animated mb-0">
                    <img src="/media/{{dynamic_field.images}}" class="img-fluid" alt="">
                    <h4 class="info-head">
                        {% lang dynamic_field current_language "title" as title %}
                        {{title}}
                    </h4>
                    <p class="info-des">
                        {% lang dynamic_field current_language "content" as content %}
                        {{content}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Audience Info Area end -->

<!-- Partnership With Us Area start -->
<section class="partnership-with-us text-center py-100"
style="background-image: url('media/{{ cmsdata.heading_image_1 }}');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-11">
                <div class="section-title mb-60 wow fadeInUp delay-0-5s animated">
                    <span class="sub-title">
                        {% lang cmsdata current_language "section_3_heading" as section_3_heading %}
                        {{section_3_heading}}
                    </span>
                    <h3>
                        {% lang cmsdata current_language "section_3_titlee" as section_3_titlee %}
                        {{section_3_titlee}}
                    </h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="info-wrapper wow fadeInLeft delay-0-7s">
                    <div class="img-wrapper"><img src="/media/{{cmsdata.section_3_image}}" alt=""
                            class="img-fluid"></div>
                    <h4 class="info-head">
                        {% lang cmsdata current_language "section_3_title" as section_3_title %}
                        {{section_3_title}}
                    </h4>
                    <p class="info-des">
                        {% lang cmsdata current_language "section_3_content" as section_3_content %}
                        {{section_3_content}}
                    </p>
                </div>
            </div>
            {% for partnership_dynamic_field in partnership_dynamic_field %}
            <div class="col-md-6">
                <div class="info-wrapper wow fadeInLeft delay-0-7s">
                    <div class="img-wrapper"><img src="/media/{{partnership_dynamic_field.images}}" alt=""
                            class="img-fluid"></div>
                    <h4 class="info-head">
                        {% lang partnership_dynamic_field current_language "title" as title %}
                        {{title}}
                    </h4>
                    <p class="info-des">
                        {% lang partnership_dynamic_field current_language "content" as content %}
                        {{content}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Partnership With Us Area end -->

<!-- Apps Advertise Area start -->
<section class="apps-advertise py-100 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-11">
                <div class="section-title mb-60 wow fadeInUp delay-0-5s animated">
                    <span class="sub-title">
                        {% lang cmsdata current_language "section_4_heading" as section_4_heading %}
                        {{section_4_heading}}
                    </span>
                    <h3>
                        {% lang cmsdata current_language "section_4_title" as section_4_title %}
                        {{section_4_title}}
                    </h3>
                </div>
            </div>
        </div>

        <div class="apps-advertise-slider">
            {% for ads_dynamic_field in ads_dynamic_field %}
            <div class="wow fadeInUp delay-0-2s animated">
                <img src="/media/{{ads_dynamic_field.images}}" class="img-fluid" alt="Ads Images">
            </div>
            {% endfor %}
        </div>
        <div class="work-gallery-controls">
            <button class="apps-advertise-slider-prev">
                <i class="far fa-chevron-left"></i>
            </button>
            <div class="apps-advertise-slider-dots"></div>
            <button class="apps-advertise-slider-next">
                <i class="far fa-chevron-right"></i>
            </button>
        </div>
    </div>
</section>


<!-- Premium Features Area start -->
<section class="premium-features py-100">
    <div class="container">
        <div class="section-title text-center mb-60 wow fadeInUp delay-0-5s animated">
            <h2>
                {% lang cmsdata current_language "section_5_heading" as section_5_heading %}
                        {{section_5_heading}}
            </h2>
        </div>
        <div class="features-main-wrapper">
            <div class="features-wrapper wow fadeInUp delay-0-2s animated">
                <img src="/media/{{cmsdata.section_5_image}}" class="img-fluid" alt="">
                <h6 class="info-head">
                    {% lang cmsdata current_language "section_5_title" as section_5_title %}
                        {{section_5_title}}
                </h6>
            </div>

            {% for premium_dynamic_field in premium_dynamic_field %}
            <div class="features-wrapper wow fadeInUp delay-0-3s animated">
                <img src="/media/{{premium_dynamic_field.images}}" class="img-fluid" alt="">
                <h6 class="info-head">
                    {% lang premium_dynamic_field current_language "title" as title %}
                        {{title}}
                </h6>
            </div>

            {% endfor %}
        </div>
    </div>
 </section>
<!-- Premium Features Area end -->

 <!-- Social Media Area start -->
 <section class="social-media py-100 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title mb-60 wow fadeInUp delay-0-5s animated">
                    <h2>
                        {% lang cmsdata current_language "section_6_title" as section_6_title %}
                        {{section_6_title}}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-md-4 order-md-2 wow fadeInUp delay-0-9s animated">
                <img src="/media/{{cmsdata.section_6_logo}}" class="img-fluid" alt="">
            </div>                
            <div class="col-md-4 order-md-1 wow fadeInLeft delay-0-6s animated">    
            <div class="info-wrapper right">
                    <p class="info-des">
                        {% lang cmsdata current_language "section_6_content_1" as section_6_content_1 %}
                        {{section_6_content_1}}
                    </p>
                    <p class="info-des">
                        {% lang cmsdata current_language "section_6_content_2" as section_6_content_2 %}
                        {{section_6_content_2}}
                    </p>
                    <p class="info-des">
                        {% lang cmsdata current_language "section_6_content_3" as section_6_content_3 %}
                        {{section_6_content_3}}
                    </p>
                </div>
            </div>
    
            <div class="col-md-4 order-md-3 wow fadeInRight delay-0-6s animated">
                <div class="info-wrapper left">
                    <p class="info-des">
                        {% lang cmsdata current_language "section_6_content_4" as section_6_content_4 %}
                        {{section_6_content_4}}
                    </p>
                    <p class="info-des">
                        {% lang cmsdata current_language "section_6_content_5" as section_6_content_5 %}
                        {{section_6_content_5}}
                    </p>
                    <p class="info-des">
                        {% lang cmsdata current_language "section_6_content_6" as section_6_content_6 %}
                        {{section_6_content_6}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Social Media Area end -->

<!-- Start Training Section -->
<section class="who-we-are-area training-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title wow fadeInUp delay-0-5s">
                    <h3>
                        {% lang cmsdata current_language "section_9_heading" as section_9_heading %}
                        {{section_9_heading}}
                    </h3>
                </div>
                <p>
                    {% lang cmsdata current_language "section_9_title" as section_9_title %}
                    {{section_9_title|safe}}
                </p>
            </div>
            <div class="col-lg-6">
                <div class="wow fadeInUp delay-0-3s">
                    <div class="main-image">
                        <img src="/media/{{cmsdata.section_9_image}}" alt="">
                    </div>
                </div>
            </div>
        </div>            
    </div>
</section>
<!-- End Training Section -->
<script>
//     // Block right-click context menu
// document.addEventListener('contextmenu', function(e) {
//     e.preventDefault();
//     return false;
// });
    
// // Optional: Block common developer tools shortcuts
// document.addEventListener('keydown', function(e) {
//     // Disable F12, Ctrl+Shift+I, Ctrl+Shift+J, Ctrl+Shift+C, Ctrl+U
//     if (e.key === 'F12' || 
//         (e.ctrlKey && e.shiftKey && ['I','J','C'].includes(e.key)) ||
//         (e.ctrlKey && e.key === 'u')) {
//         e.preventDefault();
//         return false;
//     }
// });
</script>

{% endblock %}

{% block scriptcontent %}

{% endblock %}
{% block script %} 
<script>new WOW().init();</script>
{% endblock %}