{% extends 'base1.html' %}

{% load static %}

{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}
{% block title %} Future Star || Discover{% endblock %}
{% block content %}
<!-- Page Banner Start -->
<section class="discover-page-banner text-center">
    <div class="container">
        <div class="banner-inner rpt-10">
            <h2 class="page-title mb-3 wow fadeInUp delay-0-2s">Future Stars App</h2>
            <h2 class="sub-title mb-15">Build Your Football CV</h2>
            <p>A brief football portfolio of a player’s  performance, playing behavior, previous teams, videos, and information  ready to be presented to scouts and clubs.</p>
        </div>
    </div>
</section>
<!-- Page Banner End -->

<!-- Who We Are start -->
<section class="who-we-are-area pt-100 rpt-80 rel z-1">
    <div class="container container-1290">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-70 wow fadeInUp delay-0-2s">
                    <span class="sub-title mb-15">Games</span>
                    <h2>Games feature through the app, you can organize  football games and invite players from the app and outside the app by  sharing game link with your friends.</h2>
                </div>
            </div>
        </div>    
        <div class="row row-cols-md-4 row-cols-sm-3 row-cols-1">
            <div class="col">
                <div class="team-member wow fadeInUp delay-0-2s">
                    <div class="image">
                        <img src="{% static 'frontend/assets/images/discover/game-1.png' %}" alt="jh">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-member wow fadeInUp delay-0-3s">
                    <div class="image">
                        <img src="{% static 'frontend/assets/images/discover/game-2.png' %}" alt="jhhj">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-member wow fadeInUp delay-0-4s">
                    <div class="image">
                        <img src="{% static 'frontend/assets/images/discover/game-3.png' %}" alt="ty">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-member wow fadeInUp delay-0-5s">
                    <div class="image">
                        <img src="{% static 'frontend/assets/images/discover/game-4.png' %}" alt="tyyt">
                    </div>                           
                </div>
            </div>
            
        </div>            
    </div>
</section>
<!-- Who We Are end -->


<!-- Start Training Section -->
<section class="who-we-are-area pt-100 rpt-80 rel z-1">
    <div class="container container-1290">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mb-70 wow fadeInUp delay-0-2s">
                    <span class="sub-title mb-15">Training</span>
                    <h2>We provide this feature to increase the excitement  and competitiveness among players, and the players can decide which team  they want to join.</h2>
                </div>
                <p>Whether you're looking to  host local and regional tryouts, offer international football  experiences, or access exclusive media content, our partnership  opportunities provide unparalleled benefits.</p>
                <p>Whether you're looking to  host local and regional tryouts, offer international football  experiences, or access exclusive media content, our partnership  opportunities provide unparalleled benefits. Whether you're looking to  host local and regional tryouts, offer international football  experiences, or access exclusive media content, our partnership  opportunities provide unparalleled benefits.</p>
            </div>
            <div class="col-lg-6">
                <div class="team-member wow fadeInUp delay-0-3s">
                    <div class="image">
                        <img src="{% static 'frontend/assets/images/discover/taining-1.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member my-70 wow fadeInUp delay-0-3s">
                    <div class="image">
                        <img src="{% static 'frontend/assets/images/discover/taining-2.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 my-70">
                <div class="section-title text-center wow fadeInUp delay-0-2s">
                    <h2>Future Stars  Competitions</h2>
                </div>
                <p>Make Name  Your Competition personal and unique!</p>
                <p>Add/Remove Challenges Have complete control over the challenges you want to include.</p>
                <p>Our competition is open-ended with No Time Limits, so there are no constraints on when you can participate. Take your time to perfect your talent and share it with the world  whenever you're ready.</p>
                <p>Customize your own rules and requirements  to suit your competition’s needs. Create a tailored experience that matches your vision.</p>
                <p>Make Name  Your Competition personal and unique!</p>
                <p>Add/Remove Challenges Have complete control over the challenges you want to include.</p>
                <p>Our competition is open-ended with No Time Limits, so there are no constraints on when you can participate. Take your time to perfect your talent and share it with the world  whenever you're ready.</p>
                <p>Customize your own rules and requirements  to suit your competition’s needs. Create a tailored experience that matches your vision.</p>
            </div>
        </div>            
    </div>
</section>
<!-- End Training Section -->

<!-- Why Choose Us start -->
<section class="demo-area pt-100 rpt-70 rel z-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="why-choose-us-content">
                    <div class="section-title mb-60 wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                        <span class="sub-title mb-15">Why Choose Us</span>
                        <h2>Future Stars That You Can Trust</h2>
                    </div>
                    <div class="row gap-60">
                        <div class="col-md-6">
                            <div class="why-choose-item wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="why-choose-header">
                                    <i class="far fa-chevron-right"></i>
                                    <h5>Competitive rates</h5>
                                </div>
                                <p>We use strategic marketing tactics that have been proven programming</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="why-choose-item wow fadeInUp delay-0-3s animated" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="why-choose-header">
                                    <i class="far fa-chevron-right"></i>
                                    <h5>Premium Development</h5>
                                </div>
                                <p>Sed perspiciatis unde omnie natue site voluptatem accusan doloremque</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="why-choose-item wow fadeInUp delay-0-2s animated" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="why-choose-header">
                                    <i class="far fa-chevron-right"></i>
                                    <h5>No contracts needed</h5>
                                </div>
                                <p>You can increase, pause or stop our services at any time leaving</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="why-choose-item wow fadeInUp delay-0-3s animated" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="why-choose-header">
                                    <i class="far fa-chevron-right"></i>
                                    <h5>Retina Ready &amp; Flexible</h5>
                                </div>
                                <p>Devices show more pixels square inch resulting sharperes images Content</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
               <div class="why-choose-right wow fadeInLeft delay-0-2s animated" style="visibility: visible; animation-name: fadeInLeft;">
                   <img src="{% static 'frontend/assets/images/services/why-choose-right.png' %}" alt="Why Choose Right">
                   <div class="why-choose-border-shape"></div>
                   <div class="text-shape">
                       <img class="text" src="{% static 'frontend/assets/images/services/web-design-text.svg' %}" alt="Web Design Text">
                   </div>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- Why Choose Us end -->
{% endblock %}

{% block scriptcontent %}

{% endblock %}
{% block script %} 
<script>new WOW().init();</script>
{% endblock %}