{% extends 'base1.html' %}

{% load static %}

{% block css %}
<!-- Plugins css start-->
<style>
    .star-rating {
        display: inline-block;
        font-size: 20px;
        color: lightgray;
        position: relative;
    }
    .star-rating .filled-stars {
        color: rgb(17, 167, 12);
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0%;
    }
</style>

<!-- Plugins css Ends-->
{% endblock %}
{% block title %} FutureStar{% endblock %}
{% block content %}
    <!-- Hero Section Start -->
    <section class="hero-area-six pt-185 rpt-150 pb-130 rpb-100 rel z-1">
        <div class="container container-1620">
            <div class="hero-six-wrapper">

                <div class="row no-gap">
                    <div class="col-xl-4">
                        <div class="left-image">
                            <img src="{% static 'frontend/assets/images/hero/hero-six1.png'%}" alt="Hero">
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="hero-six-content">
                            <h1>Tradition Pride & future</h1>
                            <p>Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque
                                laudantium totam aperiam eaque</p>
                            <a href="services.html" class="theme-btn style-two">Read More <i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 align-self-end">
                        <div class="right-image">
                            <img src="{% static 'frontend/assets/images/hero/hero-six2.png'%}" alt="Hero">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Area start -->
    <section class="about-area-six rpt-100 pb-80 rpb-50 rel z-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-6">
                    <div class="about-content-six mb-40 wow fadeInUp delay-0-2s">
                        <div class="about-logo mb-50">
                            <img src="{% static 'frontend/assets/images/about/circle-text-six.svg'%}" alt="Logo">
                        </div>
                        <div class="section-title">
                            <span class="sub-title mb-15">About Company</span>
                            <h2>Futur Stars is your ultimate Platform.</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="about-image-six mb-50 wow fadeInUp delay-0-4s">
                        <img src="{% static 'frontend/assets/images/about/about-six.jpg'%}" alt="About">
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="about-features mb-50 wow fadeInUp delay-0-4s">
                        <div class="feature-six-item">
                            <div class="icon">
                                <i class="far fa-rocket-launch"></i>
                            </div>
                            <div class="content">
                                <h5>Company Mission</h5>
                                <p>Our mission is to empower businesses with cutting-edge digital solutions</p>
                            </div>
                        </div>
                        <div class="feature-six-item">
                            <div class="icon">
                                <i class="far fa-bullseye-arrow"></i>
                            </div>
                            <div class="content">
                                <h5>Company Vision & Goals</h5>
                                <p>We are dedicated to crafting digitals experiences that seamlessly</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- About Us Area end -->

    <!-- Video Area start -->
    <div class="video-area-six pt-175 rpt-125 pb-185 rpb-135 bgs-cover"
        style="background-image: url(assets/images/background/video-bg1.jpg);">
        <div class="container">
            <div class="video-six-content wow fadeInUp delay-0-2s">
                <span class="video-title mb-20 rmb-0">Empower Your</span>
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-12">
                        <span class="video-text text-center mt-35">Future Stars Journey</span>
                    </div>
                    <div class="col-xl-2 col-lg-3 text-center">
                        <a href="https://www.youtube.com/watch?v=9Y7ma241N8k"
                            class="mfp-iframe video-play mt-35"><img src="{% static 'frontend/assets/images/icons/play-icon.png'%}"
                                alt="Play"></a>
                    </div>
                    <div class="col-xl-10 col-lg-9">
                        <div class="mt-35"> dedicated to nurturing and growing football talents we believe in
                            unlocking the full potential of aspiring football stars. Our passion lies in fostering
                            an environment where dedication, skills, and ambition converge to shape the future of
                            football. Whether you're a budding player or a seasoned enthusiast, we are here to fuel
                            your journey to greatness </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Video Area end -->

    <!-- Services Area start -->
    <section class="services-area-six pt-130 pb-100 rpb-70 rel z-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center mb-70 rmb-50 wow fadeInUp delay-0-2s">
                        <span class="sub-title mb-15">Features</span>
                        <h2>Amazing Features</h2>
                        <p>Nam et sagittis diam. Sed tempor augue sit amet egestas scelerisque. Orci varius natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="service-six-item wow fadeInUp delay-0-2s">
                        <div class="icon"><i class="fal fa-bezier-curve"></i></div>
                        <div class="content">
                            <h5><a href="service-details.html">User Friendly</a></h5>
                            <p>Lorem ipsum dolor sit amet consect etur adipisicing elited do eiusmod tempor incidi
                                dout labore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-six-item wow fadeInUp delay-0-4s">
                        <div class="icon"><i class="fal fa-telescope"></i></div>
                        <div class="content">
                            <h5><a href="service-details.html">Super Fast Speed</a></h5>
                            <p>We denounce with righteous indignation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-six-item wow fadeInUp delay-0-2s">
                        <div class="icon"><i class="fal fa-telescope"></i></div>
                        <div class="content">
                            <h5><a href="service-details.html">Award Winning</a></h5>
                            <p>We denounce with righteous indignation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-six-item wow fadeInUp delay-0-4s">
                        <div class="icon"><i class="fal fa-laptop-code"></i></div>
                        <div class="content">
                            <h5><a href="service-details.html">Unlimited Posibility</a></h5>
                            <p>We denounce with righteous indignation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-six-item wow fadeInUp delay-0-2s">
                        <div class="icon"><i class="fal fa-mail-bulk"></i></div>
                        <div class="content">
                            <h5><a href="service-details.html">Very Fast Support</a></h5>
                            <p>We denounce with righteous indignation</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-six-item wow fadeInUp delay-0-4s">
                        <div class="icon"><i class="fal fa-file-contract"></i></div>
                        <div class="content">
                            <h5><a href="service-details.html">Design & Branding</a></h5>
                            <p>We denounce with righteous indignation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- Services Area end -->


    <!-- Video Area start -->
    <div class="video-area-six pt-175 rpt-125 pb-185 rpb-135 bgs-cover"
        style="background-image: url(assets/images/background/video-bg.jpg);">
        <div class="container">
            <div class="video-six-content wow fadeInUp delay-0-2s">
                <span class="video-title mb-20 rmb-0">Future Stars Spirit</span>
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-2 col-lg-3 text-center">
                        <a href="https://www.youtube.com/watch?v=9Y7ma241N8k"
                            class="mfp-iframe video-play mt-35"><img src="{% static 'frontend/assets/images/icons/play-icon.png'%}"
                                alt="Play"></a>
                    </div>
                    <div class="col-xl-10 col-lg-9">
                        <div class="mt-35"> dedicated to nurturing and growing football talents we believe in
                            unlocking the full potential of aspiring football stars. Our passion lies in fostering
                            an environment where dedication, skills, and ambition converge to shape the future of
                            football. Whether you're a budding player or a seasoned enthusiast, we are here to fuel
                            your journey to greatness </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Video Area end -->


    <!-- Team Area start -->
    <section id="team" class="team-area services-area-six rel pt-130 rpt-45">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="section-title text-center mb-55 wow fadeInUp delay-0-2s">
                        <span class="sub-title mb-20">Team Members</span>
                        <h2>Meet Our Professionals Team</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div
                class="row row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 justify-content-center">
                <div class="col">
                    <div class="team-member wow fadeInUp delay-0-2s">
                        <div class="image">
                            <img src="{% static 'frontend/assets/images/team/t1.png'%}" alt="Team Member">
                        </div>
                        <div class="content text-center">
                            <h4>Sheikh Mohammed</h4>
                            <span>UI/UX Designer</span>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="team-member wow fadeInUp delay-0-2s">
                        <div class="image">
                            <img src="{% static 'frontend/assets/images/team/t2.png'%}" alt="Team Member">
                        </div>
                        <div class="content text-center">
                            <h4>Sheikh Mohammed</h4>
                            <span>UI/UX Designer</span>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="team-member wow fadeInUp delay-0-2s">
                        <div class="image">
                            <img src="{% static 'frontend/assets/images/team/t1.png'%}" alt="Team Member">
                        </div>
                        <div class="content text-center">
                            <h4>Sheikh Mohammed</h4>
                            <span>UI/UX Designer</span>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="team-member wow fadeInUp delay-0-2s">
                        <div class="image">
                            <img src="{% static 'frontend/assets/images/team/t2.png'%}" alt="Team Member">
                        </div>
                        <div class="content text-center">
                            <h4>Sheikh Mohammed</h4>
                            <span>UI/UX Designer</span>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="team-member wow fadeInUp delay-0-3s">
                        <div class="image">
                            <img src="{% static 'frontend/assets/images/team/t2.png'%}" alt="Team Member">
                        </div>
                        <div class="content text-center">
                            <h4>Sheikh Hamdan</h4>
                            <span>UI/UX Designer</span>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="team-member wow fadeInUp delay-0-4s">
                        <div class="image">
                            <img src="{% static 'frontend/assets/images/team/t1.png'%}" alt="Team Member">
                        </div>
                        <div class="content text-center">
                            <h4>Sheikh Hamdan</h4>
                            <span>Senior Marketer</span>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="team-member wow fadeInUp delay-0-5s">
                        <div class="image">
                            <img src="{% static 'frontend/assets/images/team/t2.png'%}" alt="Team Member">
                        </div>
                        <div class="content text-center">
                            <h4>Sheikh Hamdan</h4>
                            <span>Web Designer</span>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="team-member wow fadeInUp delay-0-6s">
                        <div class="image">
                            <img src="{% static 'frontend/assets/images/team/t1.png'%}" alt="Team Member">
                        </div>
                        <div class="content text-center">
                            <h4>Sheikh Hamdan</h4>
                            <span>Apps Designer</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Area end -->


    <!-- Our Awards Area start -->
    <section id="awards" class="our-awards-area py-130 rpy-100 rel z-1">
        <div class="container container-1290">
            <div class="row align-items-end pb-35">
                <div class="col-lg-12">
                    <div class="section-title mb-30 wow fadeInUp delay-0-2s">
                        <span class="sub-title mb-15">My Achievement</span>
                        <h2>Lot’s Of Awards & Trophy</h2>
                    </div>
                </div>

            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5">
                    <div class="awards-tab-content rmb-75 rel wow fadeInLeft delay-0-2s">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="awards-tab-one">
                                <div class="award-image">
                                    <img src="{% static 'frontend/assets/images/about/award.png'%}" alt="Awards">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="awards-tab-two">
                                <div class="award-image">
                                    <img src="{% static 'frontend/assets/images/about/award.png'%}" alt="Awards">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="awards-tab-three">
                                <div class="award-image">
                                    <img src="{% static 'frontend/assets/images/about/award.png'%}" alt="Awards">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="awards-tab-four">
                                <div class="award-image">
                                    <img src="{% static 'frontend/assets/images/about/award.png'%}" alt="Awards">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="awards-tabs nav flex-column nav-pills wow fadeInRight delay-0-2s">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#awards-tab-one">
                            <span class="left">
                                <span class="h3">Lorem Ipsum Dummy text</span>
                                <span class="award-type">Future Stars</span>
                            </span>
                            <span class="details-btn"><i class="fal fa-long-arrow-right"></i></span>
                        </button>
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#awards-tab-two">
                            <span class="left">
                                <span class="h3">Lorem Ipsum Dummy text</span>
                                <span class="award-type">Future Stars</span>
                            </span>
                            <span class="details-btn"><i class="fal fa-long-arrow-right"></i></span>
                        </button>
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#awards-tab-three">
                            <span class="left">
                                <span class="h3">Lorem Ipsum Dummy text</span>
                                <span class="award-type">Future Stars</span>
                            </span>
                            <span class="details-btn"><i class="fal fa-long-arrow-right"></i></span>
                        </button>
                        <button class="nav-link mb-0" data-bs-toggle="tab" data-bs-target="#awards-tab-four">
                            <span class="left">
                                <span class="h3">Lorem Ipsum Dummy text</span>
                                <span class="award-type">Future Stars</span>
                            </span>
                            <span class="details-btn"><i class="fal fa-long-arrow-right"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Awards Area end -->


    <!-- Headline area start -->
    <div class="headline-area style-two bgc-primary pt-80 pb-65">
        <div class="container-fluid">
            <div class="headline-wrap marquee">
                <span>
                    {% for marquee in marquee %}
                        <span class="marquee-item">
                            <i class="fas fa-star-of-life"></i>
                            <b>{{ marquee.content_en }}</b>
                        </span>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
<!-- Headline Area end -->



    <!-- Work Gallery Area start -->
    <section id="projects" class="work-gallery-area py-130 rpy-100">
        <div class="container container-1290">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                        <span class="sub-title mb-20">Future Stars</span>
                        <h2>Explore the App Features</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="work-gallery-active">

                {% for app_feature in app_features %}

                <div class="project-item style-four wow fadeInUp delay-0-2s">
                    <div class="image">
                        <img src="{{ app_feature.image.url }}" alt="Work Gallery">
                        <a href="{% url 'index' %}" class="project-btn"><i class="far fa-arrow-right"></i></a>
                    </div>
                    <div class="content">
                        <a href="{% url 'index' %}" class="category">{{ app_feature.title_en }}</a>
                        <h4><a href="{% url 'index' %}">{{ app_feature.sub_title_en }}</a></h4>
                    </div>
                </div>

                {% endfor %}

                
            </div>
            <div class="work-gallery-controls">
                <button class="work-gallery-prev">
                    <i class="far fa-chevron-left"></i>
                </button>
                <div class="work-gallery-dots"></div>
                <button class="work-gallery-next">
                    <i class="far fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </section>
    <!-- Work Gallery Area end -->


    <!-- Statistics Area start -->
    <div class="statistics-area pt-100 rpt-70 pb-70 rpb-40 rel z-1">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-2 col-lg-3 col-6">
                    <div class="counter-item counter-text-wrap wow fadeInUp delay-0-2s">
                        <i class="fal fa-check-circle"></i>
                        <span class="count-text" data-speed="3000" data-stop="{{ system_settings.happy_user }}">0</span>
                        <span class="counter-title">Happy User</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-6">
                    <div class="counter-item counter-text-wrap wow fadeInUp delay-0-3s">
                        <i class="fal fa-check-circle"></i>
                        <span class="count-text k" data-speed="3000" data-stop="{{ system_settings.line_of_code }}">0</span>
                        <span class="counter-title">Line of Code</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-6">
                    <div class="counter-item counter-text-wrap wow fadeInUp delay-0-4s">
                        <i class="fal fa-check-circle"></i>
                        <span class="count-text" data-speed="3000" data-stop="{{ system_settings.downloads }}">0</span>
                        <span class="counter-title">Downloads</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-6">
                    <div class="counter-item counter-text-wrap wow fadeInUp delay-0-5s">
                        <i class="fal fa-check-circle"></i>
                        <span class="count-text" data-speed="3000" data-stop="{{ system_settings.app_rate }}">0</span>
                        <span class="counter-title">App Rates</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </div>
    <!-- Statistics Area end -->


    <!-- Testimonial Area start -->
    <section class="testimonial-section-five rel z-1">
        <div class="container-fluid px-0">
            <div class="row no-gap">
                <div class="col-xl-6 wow fadeInRight delay-0-2s">
                    <div class="testimonial-five-image" style="background-image: url('{% static 'frontend/assets/images/testimonials/testimonials-five.jpg' %}');"></div>
                </div>
                <div class="col-xl-6 align-self-center">
                    <div class="testimonial-five-right p-100 py-130 rpy-100 wow fadeInLeft delay-0-2s">
                        <div class="circle-logo-text w-50 mb-65 rmb-35">
                            <img src="{% static 'frontend/assets/images/about/circle-text.svg'%}" alt="Circle Text">
                        </div>
                        <div class="testimonials-active">

                            {% for testimonial in testimonials %}
                            <div class="testimonial-item">
                                <div class="author-speech">
                                    <p><span class="quote">“</span> {{ testimonial.content_en }} <span
                                            class="quote right-quote">“</span></p>
                                </div>
                                <hr>
                                <div class="testimonial-footer">
                                    <div class="testimonial-author">
                                        <div class="author-image">
                                            <img src="{{ testimonial.image.url }}" alt="Author Image">
                                        </div>
                                        <div class="author-info">
                                            <h4>{{ testimonial.name_en }}</h4>
                                            <span class="designation">{{ testimonial.designation_en}}</span>
                                        </div>
                                    </div>
                                    <div class="ratting style-two">
                                        <div class="star-rating" data-rating="{{ testimonial.rattings }}">
                                            <div class="filled-stars">★★★★★</div>
                                            ★★★★★
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}



                        </div>
                        <div class="testimonial-controls mt-105 rmt-50">
                            <div class="testimonial-dots mx-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Area end -->


    <!-- Blog Style Two start -->
    <section class="blog-area-two services-area-six rel pt-125 rpt-100 pb-70 rpb-40 rel z-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-11">
                    <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                        <span class="sub-title mb-20">Blog & News</span>
                        <h2>Read Our Latest News & Blog Get Every Updates</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for news in news %}
                <div class="col-xl-3 col-md-4">
                    <div class="blog-item style-two wow fadeInUp delay-0-2s">
                        <div class="image">
                            <img src="{{ news.image.url }}" alt="Blog">
                        </div>
                        <h4><a href="">{{ news.title_en }}</a></h4>
                        <hr>
                        <ul class="blog-meta">
                            <li>
                                <i class="far fa-calendar-alt"></i>
                                <span>{{ news.news_date }}</span>
                            </li>
                            <li>
                                <i class="far fa-comments"></i>
                                <a href="#">Comment (5)</a>
                            </li>
                        </ul>
                    </div>
                </div>  
                {% endfor %}
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- Blog Style Two end -->


    <!-- Client Logo Two start -->
    <div class="client-logo-area pb-90 rpb-70 rel z-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                        <span class="sub-title mb-20">Partners</span>
                        <h2>And associating with key local & international stakeholders</h2>
                    </div>
                </div>
            </div>
            <div class="client-logo-wrap-two">
                {% for partner in partner %}

                <a class="client-logo-item wow fadeInUp delay-0-2s" href="{% url 'contact' %}">
                    <img src="{{ partner.image.url }}" alt="Client Logo">
                </a>

                {% endfor %}

            </div>

        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </div>
    <!-- Client Logo Two end -->
{% endblock %}

{% block scriptcontent %}

{% endblock %}
{% block script %} 
<script>
    // Initialize star ratings
    const starRatings = document.querySelectorAll('.star-rating');
    starRatings.forEach(function(starRating) {
        const rating = parseFloat(starRating.getAttribute('data-rating'));
        const widthPercentage = (rating / 5) * 100;
        starRating.querySelector('.filled-stars').style.width = widthPercentage + '%';
    });
</script>

<script>new WOW().init();</script>
{% endblock %}