{% extends 'base1.html' %}

{% load static %}
{% load lang_filter %}
{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}
{% block title %} Future Star || News-Detail{% endblock %}
{% block content %}

<section class="page-banner-area overlay pt-250 pb-50 rel z-1 bgs-cover" style="background-image: url('/media/{{ cmsdata.heading_banner }}');">
    <div class="container">
        <div class="banner-inner">
            <div class="row">
                <div class="col-xl-8">
                    <ul class="blog-meta mb-15 wow fadeInUp delay-0-2s">
                        <li>
                            <i class="fal fa-user-alt"></i>
                            <a href="#">Richard N. Dixon</a>
                        </li>
                        <li>
                            <i class="far fa-calendar-alt"></i>
                            <a href="#">{{ news.news_date|date:"F d, Y" }}</a>
                        </li>
                        <li>
                            <i class="far fa-comments"></i>
                            <a href="#">Comment (5)</a>
                        </li>
                    </ul>
                    {% lang news current_language "title" as title %}
                           
                    <h1 class="page-title wow fadeInUp delay-0-3s">
                        {{title}}
                      
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Banner End -->


<!-- Blog Details Page Area start -->
<section class="blog-details-page py-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="blog-single-content">
                    <div class="image wow fadeInLeft delay-0-2s">
                        <img class="news-details-img" src="{{ news.image.url }}" alt="News Details">
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="blog-single-content wow fadeInRight delay-0-2s">
                    {% lang news current_language "title" as title %}
                           
                    <p class="big-first-letter">
                        {{title}}
                       
                    </p>
                </div>
            </div>
            <div class="col wow fadeInUp delay-0-2s">
                {% lang cmsdata current_language "section_2_title" as section_2_title %}
                           
                <h3>
                    {{section_2_title}}
                   
                </h3>
                {% lang cmsdata current_language "section_2_content" as section_2_content %}
                           
                <p>
                    {{section_2_content}}
                      
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Page Area end -->
{% endblock %}

{% block scriptcontent %}
{% endblock %}
{% block script %} 
<script>new WOW().init();</script>
{% endblock %}