{% extends 'base1.html' %}

{% load static %}
{% load lang_filter %}

{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}

{% block title %}Goalactico||Trainings{% endblock %}
{% load lang_filter %} <!-- Loading your custom filter -->
{% block content %}
<section class="services-area-six pt-150 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="sidebar-wrapper wow fadeInUp delay-0-5s animated">
                    <div class="user-info">
                        <div class="user-img-wrapper"><img src="{% static 'frontend/assets/images/success-stories/player-1.png' %}" alt=""></div>
                        <div>
                            <h5 class="user-name">{{ user.username }}</h6>
                            <p class="user-desi">
                                {% lang user.role current_language "name" as name %} 
                                {{name}}
                            </p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="{% url 'player-dashboard' %}" class="sidebar-link">
                                <span><i class="fas fa-th-large"></i></span> Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-link dropbtn" onclick="myFunction()"><span><i class="fas fa-users"></i></span>
                                Team
                            </a>
                            <!-- Submenu for "Team" -->
                            <div id="myDropdown" class="dropdown-content">
                              <a href="#home">Team Page</a>
                              <a href="#about">Teams</a>
                            </div>
                        </li>
                        {% if user.role.id != 6 %}
                        <li>
                            <a href="{% url 'player-dashboard-trainings' %}" class="sidebar-link active">
                                <span><i class="fas fa-futbol"></i></span> Training
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'player-dashboard-games' %}" class="sidebar-link">
                                <span><i class="fas fa-trophy"></i></span> Games
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'player-dashboard-fileds' %}" class="sidebar-link">
                                <span><i class="fas fa-shield-alt"></i></span> Fields
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'player-dashboard-events' %}" class="sidebar-link">
                                <span><i class="fas fa-calendar-check"></i></span> Events
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="sidebar-link">
                                <span><i class="fas fa-sign-out-alt"></i></span> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="stats-info-wrapper wow fadeInUp delay-0-5s animated">
                    <!-- Joined Trainings Section -->
                    {% if user.role.id == 2 %}
                    <h5>Joined Trainings</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Training Name</th>
                                    <th>Training Date</th>
                                    <th>Participants</th>
                                    <th>Training Type</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if joined_trainings %}
                                    {% for training in joined_trainings %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ training.training_name }}</td>
                                            <td>{{ training.training_date }}</td>
                                            <td>{{ training.no_of_participants }}</td>
                                            <td>{{ training.get_training_type_display }}</td>
                                            <td>{{ training.cost }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="5">No Joined Trainings Found</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
    
                    <!-- Created Trainings Section -->
                    <h5>Created Trainings</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Training Name</th>
                                    <th>Training Date</th>
                                    <th>Participants</th>
                                    <th>Training Type</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if created_trainings %}
                                    {% for training in created_trainings %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ training.training_name }}</td>
                                            <td>{{ training.training_date }}</td>
                                            <td>{{ training.no_of_participants }}</td>
                                            <td>{{ training.get_training_type_display }}</td>
                                            <td>{{ training.cost }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="5">No Created Trainings Found</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Page Area end -->
{% endblock %}

{% block scriptcontent %}
<script>
    function myFunction() {
 document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
 if (!event.target.matches('.dropbtn')) {
   var dropdowns = document.getElementsByClassName("dropdown-content");
   var i;
   for (i = 0; i < dropdowns.length; i++) {
     var openDropdown = dropdowns[i];
     if (openDropdown.classList.contains('show')) {
       openDropdown.classList.remove('show');
     }
   }
 }
}
</script>
{% endblock %}

{% block script %} 
<script>new WOW().init();</script>
{% endblock %}
