{% extends 'base1.html' %}

{% load static %}
{% load lang_filter %}

{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}

{% block title %}Goalactico || Events{% endblock %}
{% load lang_filter %} <!-- Loading your custom filter -->
{% block content %}

<style>
    .team-logo {
    width: 30px;  /* Adjust the size as needed */
    height: 30px;
    border-radius: 50%;  /* Makes the image round */
    object-fit: cover;  /* Ensures the image fits the circle without distortion */
    margin-right: 5px;  /* Space between logos */
    margin-left: 5px;
}

</style>
<section class="services-area-six pt-150 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="sidebar-wrapper wow fadeInUp delay-0-5s animated">
                    <div class="user-info">
                        <div class="user-img-wrapper">
                            <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'frontend/assets/images/success-stories/player-1.png' %}{% endif %}" alt="">
                        </div>
                        <div>
                            <h5 class="user-name">{{ user.fullname }}</h6>
                            <p class="user-desi">
                                {% lang user.role current_language "name" as name %} 
                                {{name}}
                            </p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="{% url 'player-dashboard' %}" class="sidebar-link">
                                <span><i class="fas fa-th-large"></i></span>
                                {% if current_language == 'en' %}
                                    Dashboard
                                {% elif current_language == 'ar' %}
                                    لوحة القيادة
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-link dropbtn" onclick="myFunction()">
                                <span><i class="fas fa-users"></i></span>
                                {% if current_language == 'en' %}
                                    Team
                                {% elif current_language == 'ar' %}
                                    الفريق
                                {% endif %}
                            </a>
                            <!-- Submenu for "Team" -->
                            <div id="myDropdown" class="dropdown-content">
                                {% if is_founder %}
                                    <a href="{% url 'player-dashboard-team-page' %}">
                                        {% if current_language == 'en' %}
                                            Team Page
                                        {% elif current_language == 'ar' %}
                                            صفحة الفريق
                                        {% endif %}
                                    </a>
                                {% endif %}
                                <a href="{% url 'player-dashboard-joined-teams' %}">
                                    {% if current_language == 'en' %}
                                        Teams
                                    {% elif current_language == 'ar' %}
                                        الفرق
                                    {% endif %}
                                </a>
                            </div>
                        </li>
                        {% if user.role.id != 4 %}
                        <li>
                            <a href="{% url 'player-dashboard-trainings' %}" class="sidebar-link">
                                <span><i class="fas fa-futbol"></i></span>
                                {% if current_language == 'en' %}
                                    Training
                                {% elif current_language == 'ar' %}
                                    تدريب
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'player-dashboard-games' %}" class="sidebar-link">
                                <span><i class="fas fa-trophy"></i></span>
                                {% if current_language == 'en' %}
                                    Games
                                {% elif current_language == 'ar' %}
                                    مباريات
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'player-dashboard-fileds' %}" class="sidebar-link">
                                <span><i class="fas fa-shield-alt"></i></span>
                                {% if current_language == 'en' %}
                                    Fields
                                {% elif current_language == 'ar' %}
                                    الحقول
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'player-dashboard-events' %}" class="sidebar-link active">
                                <span><i class="fas fa-calendar-check"></i></span>
                                {% if current_language == 'en' %}
                                    Events
                                {% elif current_language == 'ar' %}
                                    الأحداث
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="sidebar-link">
                                <span><i class="fas fa-sign-out-alt"></i></span>
                                {% if current_language == 'en' %}
                                    Logout
                                {% elif current_language == 'ar' %}
                                    تسجيل الخروج
                                {% endif %}
                            </a>
                        </li>
                    </ul>                    
                </div>
            </div>
            <div class="col-lg-9">
                <div class="stats-info-wrapper wow fadeInUp delay-0-5s animated">
                    <h5>
                        {% if current_language == 'en' %}
                            Booked Events
                        {% elif current_language == 'ar' %}
                            الفعاليات المحجوزة
                        {% endif %}
                    </h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        {% if current_language == 'en' %}
                                            id
                                        {% elif current_language == 'ar' %}
                                            المعرف
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                            Event Name
                                        {% elif current_language == 'ar' %}
                                            اسم الحدث
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                            Event Type
                                        {% elif current_language == 'ar' %}
                                            نوع الحدث
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                            Tickets
                                        {% elif current_language == 'ar' %}
                                            التذاكر
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                            Total Amount
                                        {% elif current_language == 'ar' %}
                                            المبلغ الإجمالي
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if current_language == 'en' %}
                                            Event Date
                                        {% elif current_language == 'ar' %}
                                            تاريخ الحدث
                                        {% endif %}
                                    </th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% if events %}
                                    {% for event in events %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ event.event_name }}</td>
                                            <td>{{ event.event_type }}</td>
                                            <td>{{ event.tickets }}</td>
                                            <td>{{ event.total_amount }}</td>
                                            <td>{{ event.event_date }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="6">
                                        {% if current_language == 'en' %}
                                            No Events Found
                                        {% elif current_language == 'ar' %}
                                            لم يتم العثور على أحداث
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
<!-- Blog Page Area end -->
{% endblock %}

{% block scriptcontent %}
<script>
    function myFunction() {
 document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
 if (!event.target.matches('.dropbtn')) {
   var dropdowns = document.getElementsByClassName("dropdown-content");
   var i;
   for (i = 0; i < dropdowns.length; i++) {
     var openDropdown = dropdowns[i];
     if (openDropdown.classList.contains('show')) {
       openDropdown.classList.remove('show');
     }
   }
 }
}
</script>
{% endblock %}

{% block script %} 
<script>new WOW().init();</script>
{% endblock %}
