{% extends 'base1.html' %}

{% load static %}
{% load lang_filter %}

{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}

{% block title %}Goalactico || Games{% endblock %}
{% load lang_filter %} <!-- Loading your custom filter -->
{% block content %}

<style>
    .team-logo {
    width: 30px;  /* Adjust the size as needed */
    height: 30px;
    border-radius: 50%;  /* Makes the image round */
    object-fit: cover;  /* Ensures the image fits the circle without distortion */
    margin-right: 5px;  /* Space between logos */
    margin-left: 5px;
}

</style>
<section class="services-area-six pt-150 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="sidebar-wrapper wow fadeInUp delay-0-5s animated">
                    <div class="user-info">
                        <div class="user-img-wrapper">
                            <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'frontend/assets/images/success-stories/player-1.png' %}{% endif %}" alt="">
                        </div>
                        <div>
                            <h5 class="user-name">{{ user.fullname }}</h6>
                            <p class="user-desi">
                                {% lang user.role current_language "name" as name %} 
                                {{name}}
                            </p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="{% url 'player-dashboard' %}" class="sidebar-link">
                                <span><i class="fas fa-th-large"></i></span> Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-link dropbtn" onclick="myFunction()">
                                <span><i class="fas fa-users"></i></span>
                                Team
                            </a>
                            <!-- Submenu for "Team" -->
                            <div id="myDropdown" class="dropdown-content">
                                {% if is_founder %}
                                    <a href="{% url 'player-dashboard-team-page' %}">Team Page</a>
                                {% endif %}
                                <a href="{% url 'player-dashboard-joined-teams' %}">Teams</a>
                            </div>
                        </li>
                        {% if user.role.id != 4 %}
                        <li>
                            <a href="{% url 'player-dashboard-trainings' %}" class="sidebar-link">
                                <span><i class="fas fa-futbol"></i></span> Training
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'player-dashboard-games' %}" class="sidebar-link active">
                                <span><i class="fas fa-trophy"></i></span> Games
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'player-dashboard-fileds' %}" class="sidebar-link">
                                <span><i class="fas fa-shield-alt"></i></span> Fields
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'player-dashboard-events' %}" class="sidebar-link">
                                <span><i class="fas fa-calendar-check"></i></span> Events
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="sidebar-link">
                                <span><i class="fas fa-sign-out-alt"></i></span> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="stats-info-wrapper wow fadeInUp delay-0-5s animated">
                    <h5>Upcoming Game</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>id </th>
                                    <th>Match Type</th>
                                    <th>Teams</th>
                                    <th>Game Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if stats.upcoming_games %}
                                    {% for game in stats.upcoming_games %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ game.game_type }}</td>
                                            <td>
                                                <img src="{{ game.team_a_logo }}" alt="Team A Logo" class="team-logo">
                                                <span> {{ game.team_a_vs_team_b }} </span>
                                                <img src="{{ game.team_b_logo }}" alt="Team B Logo" class="team-logo">
                                            </td>
                                            <td>{{ game.game_date }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="4">No upcoming games</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="stats-info-wrapper wow fadeInUp delay-0-5s animated">
                    <h5>Latest Game</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>id </th>
                                    <th>Match Type</th>
                                    <th>Teams</th>
                                    <th>Game Date</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if stats.finished_games %}
                                    {% for game in stats.finished_games %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ game.game_type }}</td>
                                            <td>
                                                <img src="{{ game.team_a_logo }}" alt="Team A Logo" class="team-logo">
                                                <span> {{ game.team_a_vs_team_b }} </span>
                                                <img src="{{ game.team_b_logo }}" alt="Team B Logo" class="team-logo">
                                            </td>
                                            <td>{{ game.game_date }}</td>
                                            <td>{{ game.score }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="5">No finished games</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog Page Area end -->
{% endblock %}

{% block scriptcontent %}
<script>
    function myFunction() {
 document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
 if (!event.target.matches('.dropbtn')) {
   var dropdowns = document.getElementsByClassName("dropdown-content");
   var i;
   for (i = 0; i < dropdowns.length; i++) {
     var openDropdown = dropdowns[i];
     if (openDropdown.classList.contains('show')) {
       openDropdown.classList.remove('show');
     }
   }
 }
}
</script>
{% endblock %}

{% block script %} 
<script>new WOW().init();</script>
{% endblock %}
