{% extends 'base1.html' %}

{% load static %}

{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}

{% block title %} Future Star || News{% endblock %}

{% block content %}



<!-- Page Banner Start -->
<section class="page-banner-area overlay pt-250 pb-50 rel z-1 bgs-cover" style="background-image: url(assets/images/banner/banner-bg-two.jpg);">
    <div class="container">
        <div class="banner-inner">
            <div class="row">
                <div class="col-xl-12">
                    <h2 class="page-title wow fadeInUp delay-0-3s text-center">Privacy Policy</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Banner End -->


<!-- Blog Details Page Area start -->
<section class="blog-details-page py-130 rpy-100 rel z-1">
    <div class="container container-1290">
        <div class="row gap-60">
            <div class="col">
                <div class="blog-single-content">
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:</p>

                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
                        
                        <p> The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.</p>
                        
                            <p>The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software. Today it's seen all around the web; on templates, websites, and stock designs. Use our generator to get your own, or read on for the authoritative history of lorem ipsum.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Page Area end -->


{% endblock %}

{% block scriptcontent %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Set default language from localStorage or 'en' by default
        const currentLanguage = localStorage.getItem('language') || 'en';
        document.getElementById('language-selector').value = currentLanguage;

        // On language change, update localStorage
        document.getElementById('change-language-btn').addEventListener('click', function() {
            const selectedLanguage = document.getElementById('language-selector').value;
            localStorage.setItem('language', selectedLanguage);
        });
    });
</script>
{% endblock %}

{% block script %} 
<script>new WOW().init();</script>
{% endblock %}