{% extends 'base1.html' %}

{% load static %}
{% load lang_filter %}

{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock %}

{% block title %}
    {% if current_language == 'en' %}
        Goalactico || Reset Password
    {% elif current_language == 'ar' %}
        جولاكتكو || إعادة تعيين كلمة المرور
    {% endif %}
{% endblock %}
{% load lang_filter %} <!-- Loading your custom filter -->
{% block content %}
<section class="pt-150 pb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-4">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="phone" value="{{ phone }}">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter new password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm your password" required>
                    </div>
                    <button type="submit" class="theme-btn style-two w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
