{% extends 'base1.html' %}
{% load static %} 
{% load lang_filter %} 
{% block css %} 
<style>
	.item-wrapper {
		background: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease-in-out;
		padding: 15px;
		text-align: center;
		margin-bottom: 20px;
	}

	.item-wrapper:hover {
		transform: scale(1.05);
	}

	.img-wrapper img {
		object-fit: cover;
		height: 150px;
		width: 150px;
		border-radius: 50%;
		margin: 0 auto;
		display: block;
	}

	.player-name {
		font-size: 1.2em;
		font-weight: bold;
		margin-top: 10px;
	}

	.player-designation {
		font-size: 1em;
		margin-bottom: 15px;
	}

	.no-results-message {
		background: rgba(0, 0, 0, 0.5);
		color: white;
		padding: 20px;
		border-radius: 10px;
		text-align: center;
		font-size: 1.2em;
		margin-top: 20px;
		width: 100%;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.success-players {
		margin-top: 80px;
		/* Adjusted top margin to create space between header and content */
	}

	@media (max-width: 1024px) {

		.col-lg-3,
		.col-sm-6 {
			width: 50%;
		}

		.item-wrapper {
			padding: 12px;
		}

		.img-wrapper img {
			height: 130px;
			width: 130px;
		}

		.player-name {
			font-size: 1.1em;
		}

		.player-designation {
			font-size: 0.9em;
		}
	}

	@media (max-width: 768px) {

		.col-lg-3,
		.col-sm-6 {
			width: 100%;
		}

		.item-wrapper {
			padding: 10px;
		}

		.img-wrapper img {
			height: 120px;
			width: 120px;
		}

		.player-name {
			font-size: 1em;
		}

		.player-designation {
			font-size: 0.9em;
		}

		.no-results-message {
			font-size: 1em;
			padding: 15px;
		}
	}

	@media (max-width: 480px) {
		.item-wrapper {
			padding: 8px;
		}

		.img-wrapper img {
			height: 100px;
			width: 100px;
		}

		.player-name {
			font-size: 0.9em;
		}

		.player-designation {
			font-size: 0.8em;
		}

		.no-results-message {
			font-size: 0.9em;
			padding: 10px;
		}
	}

	@media (max-width: 320px) {
		.player-name {
			font-size: 0.8em;
		}

		.player-designation {
			font-size: 0.7em;
		}
	}
</style> 
{% endblock %} 
{% block title %} Goalactico || Search {% endblock %} 
{% block content %}
<div class="page-wrapper">
	<section class="success-players">
		<div class="container">
			<div class="row">
				{% if user_results %}
					{% for user in user_results %}
						<div class="col-lg-3 col-sm-6">
							<div class="item-wrapper wow fadeInUp delay-0.3s animated">
								<div class="img-wrapper">
									{% if user.profile_picture %}
										<img src="{{ user.profile_picture.url }}" class="img-fluid" alt="{{ user.username }}'s Profile Picture">
									{% else %}
										<img src="{% static 'frontend/assets/images/profile-pic.jpg' %}" class="img-fluid" alt="Default Profile Picture">
									{% endif %}
								</div>
								<h5 class="player-name">{{ user.username }}</h5>
								<p class="player-designation">
									{% if current_language == 'en' %}
										{{ user.role.name_en }}
									{% elif current_language == 'ar' %}
										{{ user.role.name_ar }}
									{% endif %}
								</p>
								<div>
									<form action="{% url 'player_info' %}" method="post">
										{% csrf_token %}
										<input type="hidden" name="user_id" value="{{ user.id }}">
										<button type="submit" class="theme-btn style-two w-100">
											{% if current_language == 'en' %} View Info {% elif current_language == 'ar' %} عرض المعلومات {% endif %} <i class="fa-solid fa-arrow-right"></i>
										</button>
									</form>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}

				{% if team_results %}
					{% for team in team_results %}
						<div class="col-lg-3 col-sm-6">
							<div class="item-wrapper wow fadeInUp delay-0.3s animated">
								<div class="img-wrapper">
									{% if team.team_logo %}
										<img src="{{ team.team_logo.url }}" class="img-fluid" alt="{{ team.team_name }}">
									{% else %}
										<img src="{% static 'frontend/assets/images/profile-pic.jpg' %}" class="img-fluid" alt="{{ team.team_name }}">
									{% endif %}
								</div>
								<h5 class="player-name">{{ team.team_name }}</h5>
								<p class="player-designation">
									{% if current_language == 'en' %} Team Page {% elif current_language == 'ar' %} صفحة الفريق {% endif %}
								</p>
								<form action="{% url 'TeamPageSearchResults' %}" method="get">
									<input type="hidden" name="team_id" value="{{ team.id }}">
									<div>
										<button type="submit" class="theme-btn style-two w-100">
											{% if current_language == 'en' %} View Info {% elif current_language == 'ar' %} عرض المعلومات {% endif %} <i class="fa-solid fa-arrow-right"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
					{% endfor %}
				{% endif %}

				{% if team_branch_results %}
					{% for branch in team_branch_results %}
						<div class="col-lg-3 col-sm-6">
							<div class="item-wrapper wow fadeInUp delay-0.3s animated">
								<div class="img-wrapper">
									{% if branch.team_id.team_logo %}
										<img src="{{ branch.team_id.team_logo.url }}" class="img-fluid" alt="{{ branch.team_name }}">
									{% else %}
										<img src="{% static 'frontend/assets/images/profile-pic.jpg' %}" class="img-fluid" alt="{{ branch.team_name }}">
									{% endif %}
								</div>
								<h5 class="player-name">{{ branch.team_name }}</h5>
								<p class="player-designation">
									{% if current_language == 'en' %} Team {% elif current_language == 'ar' %} فريق {% endif %}
								</p>
								<div>
									<form method="get" action="{% url 'TeamBranchPageSearchResults' %}">
										<input type="hidden" name="team_id" value="{{ branch.id }}">
										<button type="submit" class="theme-btn style-two w-100">
											{% if current_language == 'en' %} View Info {% elif current_language == 'ar' %} عرض المعلومات {% endif %} <i class="fa-solid fa-arrow-right"></i>
										</button>
									</form>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			{% if not user_results and not team_results and not team_branch_results %}
				<div class="no-results-message">
					{% if current_language == 'en' %} No results found. {% elif current_language == 'ar' %} لم يتم العثور على نتائج. {% endif %}
				</div>
			{% endif %}
		</div>
		<button class="scroll-top scroll-to-target" data-target="html">
			<span class="fas fa-angle-double-up"></span>
		</button>
	</section>
</div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentLanguage = localStorage.getItem('language') || 'en';
        document.getElementById('language-selector').value = currentLanguage;
        document.getElementById('change-language-btn').addEventListener('click', function() {
            const selectedLanguage = document.getElementById('language-selector').value;
            localStorage.setItem('language', selectedLanguage);
        });
    });
</script> 
{% endblock %} 
{% block scriptcontent %} 
{% endblock %}