{% extends 'base1.html' %}

{% load static %}
{% load lang_filter %} <!-- Loading your custom filter -->

{% block css %}
<!-- Add your CSS if needed -->
{% endblock %}

{% block title %} Future Star || Success-Stories {% endblock %}

{% block content %}

<!-- Page Banner Start -->


<section class="success-stories-page-banner common-banner text-center" 
style=" background-image:linear-gradient(180deg, rgba(157,164,148,0) 0%, rgba(37,67,0,1) 100%), url('/media/{{ cmsdata.heading_banner }}');">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="banner-inner">
                    <!-- <h1 class="page-title wow fadeInUp delay-0-2s"> -->
                        {% lang cmsdata current_language "heading_title" as heading_title %}
                        <h1 class="page-title wow fadeInUp delay-0-2s">{{ heading_title }}</h1>

                       

                    <!-- </h1> -->
                    <!-- <p> -->
                        {% lang cmsdata current_language "heading_content" as heading_content %}
                        <p>{{ heading_content }}</p>
                       
                    
                        

                       
                    <!-- </p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Banner End -->

<!-- Success Players Area Start -->
<section class="success-players">
    <div class="container">
        <div class="row">
            <!-- Example of static player cards -->
            {% for item in user_data %}
                <div class="col-lg-3 col-sm-6 custome-alignment">
                    <div class="item-wrapper wow fadeInUp delay-0-3s animated">
                        <div class="img-wrapper">
                            {% if item.user.profile_picture %}
                                <img src="{{ item.user.profile_picture.url }}" class="img-fluid" alt="">

                            {% else %}  
                                <img src="{% static 'frontend/assets/images/success-stories/player-1.png' %}" class="img-fluid" alt="">
                            {% endif %}
                        </div>
                        <h5 class="player-name">
                            {% if item.user.fullname %}
                            {{ item.user.fullname}}
                            {% else %}  
                            @{{ item.user.username }}
                            {% endif %}
                        </h5>
                        <p class="player-designation">{{ item.user.role.name_en |default:"None" }}</p>
                        <div class="social-info-wrapper">
                            <div class="social-info-item">
                                <p class="number">{{ item.post_count }}</p>
                                <p class="des">Post</p>
                            </div>
                            <div class="social-info-item">
                                <p class="number">{{ item.following_count }}</p>
                                <p class="des">Following</p>
                            </div>
                            <div class="social-info-item">
                                <p class="number">{{ item.followers_count }}</p>
                                <p class="des">Followers</p>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                        <div>
                            <form action="{% url 'player_info' %}" method="post">
								{% csrf_token %}
								<input type="hidden" name="user_id" value="{{ item.user.id }}">
								<button type="submit" class="theme-btn style-two w-100">
									View Info <i class="fa-solid fa-arrow-right"></i>
								</button>
							</form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</section>
       
<!-- Tryouts Clubs Area Start -->
<section class="tryouts-club">
    <div class="container">
        <div class="section-title mb-60 text-center">
            {% lang cmsdata current_language "section_2_title" as section_2_title %}
            <h2>{{ section_2_title }}</h2>
        </div>
        <div class="tryouts-slider">
            {% for tryout_club in top_6_teams %}
            <div class="wow fadeInUp delay-{{ forloop.counter|add:0.1 }}s animated">
                <div class="img-wrapper">
                    <img src="{{ tryout_club.team_branch.team_id.team_logo.url }}" class="img-fluid" alt="">
                </div>
                <span>{{ tryout_club.team_branch.team_name }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Tryouts Clubs Area End -->


{% endblock %}

{% block scriptcontent %}

{% endblock %}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Set default language from localStorage or 'en' by default
        const currentLanguage = localStorage.getItem('language') || 'en';
        document.getElementById('language-selector').value = currentLanguage;

        // On language change, update localStorage
        document.getElementById('change-language-btn').addEventListener('click', function() {
            const selectedLanguage = document.getElementById('language-selector').value;
            localStorage.setItem('language', selectedLanguage);
        });
    });
</script>

<script>new WOW().init();</script> <!-- For animations -->
{% endblock %}
