{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->

{% endblock %}
{% block title %}About Page Edit{% endblock %}

{% block content %}
{% include "components/loader.html" %}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title"></div>
        <div class="card">
            <form class="form theme-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div>
                        <button onclick="return backtolist()" class="btn btn-secondary" style="float: right;">Back</button>
                        <h1 style="font-size:25px">CMS About-Us Page Edit</h1>
                    </div>    
                    <br>
                    <p class = "erro-heading" id="heading-error"></p>


                    <br>
                    <div>
                        <p id = "heading-warning"></p>
                    </div>
                    
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>Heading Section</h4>
                    </div>
                    <div style="border-top: 1px solid #ccc; margin-top: 5px; margin-bottom: 20px;"></div>
                    <!--heading-->
                        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-title">Heading Title (English)</label>
                                <input class="form-control btn-pill " id="heading-section-title-en" name="heading_section_title" type="text" value="{{data.heading_title_en}}" placeholder="Heading Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-title-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-title_arabic">Heading Title (Arabic)</label>
                                <input class="form-control btn-pill" id="heading-section-title-ar" name="heading_section_title" type="text" value="{{data.heading_title_ar}}" placeholder="Heading Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-title-ar"></p>

                            </div>
                        </div>
                    </div>
                    <!--heading Url-->
    
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-url">Heading Url</label>
                                <input class="form-control btn-pill " id="heading-section-url" name="heading_section_title" type="text" value="{{data.heading_url}}" placeholder="Heading Url">
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-url"></p>

                            </div>
                        </div>
                    </div>
                  
                    
                    <!--heading content-->
                        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-content">Heading Content (English)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="heading-section-content-en" name="heading_section_content_ar" type="text" placeholder="Heading content (Arabic)">{{data.heading_content_en}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-content-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-title_arabic">Heading Content (Arabic)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="heading-section-content-ar" name="heading_section_content_ar" type="text"  placeholder="Heading content (Arabic)">{{data.heading_content_ar}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-content-ar"></p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-year">Heading Year (English)</label>
                                <input class="form-control btn-pill " id="heading-section-year-en" name="heading_section_year_en" type="text" value="{{data.heading_year_title_en}}" placeholder="Year (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-year-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-year">Heading Year (Arabic)</label>
                                <input class="form-control btn-pill " id="heading-section-year-ar" name="heading_section_year_ar" type="text" value="{{data.heading_year_title_ar}}" placeholder="Year (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-year-ar"></p>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 10px;">
                        <h4>Who We Are</h4>
                    </div>
                    <div style="border-top: 1px solid #ccc; margin-top: 5px; margin-bottom: 20px;"></div>                    
                    <!-- sub section heading title-->
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="sub-heading-en">Heading  (English)</label>
                                <input class="form-control btn-pill " id="sub-heading-en" name="sub_heading_en" type="text" value="{{data.section_2_heading_en}}" placeholder="Heading  (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-sub-heading-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="sub-heading-ar">Heading (Arabic)</label>
                                <input class="form-control btn-pill " id="sub-heading-ar" name="sub-heading_ar" type="text" value="{{data.section_2_heading_ar}}" placeholder="Heading  (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-sub-heading-ar"></p>


                               
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="section-title-en">Section Title (English)</label>
                                <input class="form-control btn-pill " id="section-title-en" name="section-title-en" type="text" value="{{data.section_2_title_en}}" placeholder="Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-section-title-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="section-title-ar">Section Title (Arabic)</label>
                                <input class="form-control btn-pill " id="section-title-ar" name="section-title-ar" type="text" value="{{data.section_2_title_ar}}" placeholder="Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-section-title-ar"></p>


                               
                            </div>
                        </div>
                    </div>

                    

                    
                           

                    <!--sub-section-2-->
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>Testimonial</h4>
                    </div>
                    <div style="border-top: 1px solid #ccc; margin-top: 5px; margin-bottom: 20px;"></div>                    
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="testimonal-image">Testimonial Image  </label>
                                <input class="form-control btn-pill" id="testimonal-image" name="testimonal_image" type="file" onchange="return displayImageTestimonial(event)" accept="image/*">
                               

                                <img id="selected-testimonal-image" src ="/media/{{data.section_3_feature_icons}}" style="display: block; width: 200px; height: 200px;" />
                                
                            </div>
                        </div>
                        <p id = "testimonalimage--warning"></p>
                    </div>

                    <!--sub-section-3-->
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>Global Client</h4>
                    </div>
                    <div style="border-top: 1px solid #ccc; margin-top: 5px; margin-bottom: 20px;"></div>                    
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="global-section-title-en">Section Title (English) </label>
                                <input class="form-control btn-pill" id="global-section-title-en" name="section_title_en" type="text"  value="{{data.section_3_heading_en}}" placeholder="Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-global-section-title-en"></p>


                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="global-section-title-ar">Section Title (Arabic) </label>
                                <input class="form-control btn-pill" id="global-section-title-ar" name="error-section_title_ar" type="text"  value="{{data.section_3_heading_ar}}" placeholder="Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-global-section-title-ar"></p>


                            </div>
                        </div>


                    </div>

                    <br>
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>SEO Section</h4>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-title-en">SEO Title (English)</label>
                                <input class="form-control btn-pill " id="meta-title-en" name="meta_title_en" type="text" value="{{data.meta_title_en}}" placeholder="Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-title-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-title_ar">SEO Title (Arabic)</label>
                                <input class="form-control btn-pill" id="meta-title-ar" name="meta_title_ar" type="text" value="{{data.meta_title_ar}}" placeholder="Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-title-ar"></p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-content-en">SEO Content (English)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="meta-content-en" name="meta-content-en" type="text" placeholder="content (English)">{{data.meta_content_en}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-content-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-content-ar">SEO Content (Arabic)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="meta-content-ar" name="meta-content-ar" type="text"  placeholder="content (Arabic)">{{data.meta_content_ar}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-content-ar"></p>

                            </div>
                        </div>
                    </div>



                    
                    

                    
                   
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-primary" type="submit" onclick ="return sendthedata()">Save</button>
                    <input class="btn btn-light" type="reset" value="Cancel" onclick = "return backtolist()">
                </div>
            </form>
        </div>
    </div>
</div>

<!--javascript-->
<script>

   
    function displayImageTestimonial(event) {
        try{
            const file = event.target.files[0];
            const imgElement = document.getElementById('selected-testimonal-image');

        if (file) {
            const reader = new FileReader();
            
            reader.onload = function(e) {
                imgElement.src = e.target.result;
                imgElement.style.display = 'block'; 
            }
            
            reader.readAsDataURL(file);
        } else {
            imgElement.style.display = 'none'; 
        }
        }
        catch(err){
            console.log(err)
            var icon_warning = document.getElementById('testimonalimage--warning')

            icon_warning.innerText = err

            icon_warning.style.color = "red";

        }
        
    }

    function  backtolist(){

        url = "{% url 'cmspages_urls' %}";
        

        window.location.href = url
        return false

        
    }

    function sendthedata(){        
            try{

                //text
                var heading_title_en = document.getElementById("heading-section-title-en")
                var heading_title_ar = document.getElementById("heading-section-title-ar")
                var heading_url = document.getElementById("heading-section-url")
                var heading_content_en = document.getElementById("heading-section-content-en")
                var heading_content_ar = document.getElementById("heading-section-content-ar")
                var heading_year_en = document.getElementById("heading-section-year-en")
                var heading_year_ar = document.getElementById("heading-section-year-ar")
                var sub_heading_en = document.getElementById("sub-heading-en")
                var sub_heading_ar = document.getElementById("sub-heading-ar")
                var whoweare_title_en = document.getElementById("section-title-en")
                var whoweare_title_ar = document.getElementById("section-title-ar")
                var Testi_icon = document.getElementById('testimonal-image')
                var global_client_heading_en = document.getElementById('global-section-title-en')
                var global_client_heading_ar = document.getElementById('global-section-title-ar')
                var seo_title_en = document.getElementById("meta-title-en")
                var seo_title_ar = document.getElementById("meta-title-ar")
                var seo_content_en = document.getElementById("meta-content-en")
                var seo_content_ar = document.getElementById("meta-content-ar")
                var top_error = document.getElementById('heading-warning')
                var missing_text = document.getElementById('heading-error')
                //Image




                //Video File
                const form_data = [
                    { id: "heading-section-title-en", name: "Title (English)" },
                    { id: "heading-section-title-ar", name: "Title (arabic)" },
                    { id: "heading-section-url", name: "Url" },
                    { id: "heading-section-content-en", name: "Content (English)" },
                    { id: "heading-section-content-ar", name: "Content (Arabic)" },
                    { id: "heading-section-year-en", name: "Year (English)" },
                    { id: "heading-section-year-ar", name: "Year (Arabic)" },
                    { id: "sub-heading-en", name: "Heading (English)" },
                    { id: "sub-heading-ar", name: "Heading (Arabic)" },
                    { id: "section-title-en", name: "Title (English)" },
                    { id: "section-title-ar", name: "Title (Arabic)" },
                    { id: "global-section-title-en", name: "Title (English)" },
                    { id: "global-section-title-ar", name: "Title (Arabic)" },
                    { id: "meta-title-en", name: "SEO Title (English)" },
                    { id: "meta-title-ar", name: "SEO Title (Arabic)" },
                    { id: "meta-content-en", name: "SEO Content (English)" },
                    { id: "meta-content-ar", name: "SEO Content (Arabic)" }
                    
                ];

                document.querySelectorAll('.error-message').forEach((msg) => {
                    msg.style.display = 'none';
                    msg.innerText = '';
                    });

                top_error.innerText =""
                var sendData = "true"

                try{
                for (const field of form_data) {
                const input = document.getElementById(field.id);
                const errorMsg = document.getElementById(`error-${field.id}`);
                //document.getElementById("saveConfirmationModal")

                if (!input.value.trim()) {
                    try{

                    errorMsg.innerText = `Please fill in ${field.name}.`;
                    errorMsg.style.display = 'block'; 
                    //$('#saveConfirmationModal').modal('hide');
                        
                        top_error.innerText = "There Should be no empty Field"
                        top_error.style.color = "red"

                        document.documentElement.scrollTop = 0;
                        //document.documentElement.scrollTop = 0

                        sendData = "false"
                        break;
                    }
                    catch(err){
                        console.log(err)
                        return false
                    }
                        
                }
            }

            }
            catch(err){
                console.log(err)
                return false
            }


            if(sendData == 'true'){

                    const formData = new FormData();
                    //text
                    formData.append('heading_title_en', heading_title_en.value );
                    formData.append('heading_title_ar', heading_title_ar.value );   
                    formData.append('heading_url', heading_url.value );                  
                    formData.append('heading_content_en', heading_content_en.value );
                    formData.append('heading_content_ar', heading_content_ar.value );
                    formData.append('heading_year_en', heading_year_en.value );
                    formData.append('heading_year_ar', heading_year_ar.value );
                    formData.append('sub_heading_en', sub_heading_en.value );
                    formData.append('sub_heading_ar', sub_heading_ar.value );
                    formData.append('whoweare_title_en', whoweare_title_en.value );
                    formData.append('whoweare_title_ar', whoweare_title_ar.value );
                    formData.append('global_client_heading_en', global_client_heading_en.value );
                    formData.append('global_client_heading_ar', global_client_heading_ar.value );
                    formData.append('seo_title_en', seo_title_en.value );
                    formData.append('seo_title_ar', seo_title_ar.value );
                    formData.append('seo_content_en', seo_content_en.value );
                    formData.append('seo_content_ar', seo_content_ar.value );

                    
                    //images

                  

                    if (Testi_icon.files.length > 0) {
                        formData.append('testi_icon', Testi_icon.files[0]);
                } 
                    else {
                        console.log("already have image")
                    }

                    //formData.append('banner',banner);


                    fetch("/saveaboutusedit/", {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken')  // Include CSRF token
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        location.reload()

                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        location.reload()
                        return false

                    });

                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    
                }
        
                return false
            }
        catch(err){
            console.log("1: "+err)
            return false;
        }
        
    }    
       
    
        
  
</script>
{% endblock %}

