{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}

{% endblock %}
<meta name="description" content="{% block meta_description %}Default description{% endblock %}">

{% block title %}News Detail Page Edit{% endblock %}

{% block content %}
{% include "components/loader.html" %}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title"></div>
        <div class="card">
            <form class="form theme-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div>
                        <button onclick="return backtolist()" class="btn btn-secondary" style="float: right;">Back</button>
                        <h1 style="font-size:25px">News Detail Page</h1>
                    </div>    

                    <p class = "erro-heading" id="heading-error"></p>

                    <br>     
                    <div>
                        <p id = "heading-warning"></p>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>Heading Section</h4>
                    </div>


                    <div style="border-top: 1px solid #ccc; margin-top: 5px; margin-bottom: 20px;"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="newsdetail-heading-section-banner">Heading banner </label>
                                <input class="form-control btn-pill" id="newsdetail-heading-section-banner" name="newsdetail_heading_section_banner" type="file"  onchange= "displayImageBanner(event)" accept="image/*">
                                

                                <img id="selected-banner" src = "/media/{{data.heading_banner}}" style="display:block; width: 200px; height: 50px;" />

                            </div>
                        </div>
                        <p id = "banner-warning"></p>
                    </div>
                    <br>
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>Section 2</h4>
                    </div>
                    <div style="border-top: 1px solid #ccc; margin-top: 5px; margin-bottom: 20px;"></div>
                    
                    <!--heading-->
                        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="newsdetail-title">Title (English)</label>
                                <input class="form-control btn-pill " id="newsdetail-title-en" name="newsdetail_title" type="text" value="{{data.section_2_title_en}}" placeholder="Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-newsdetail-title-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="newsdetail-title-arabic">Title (Arabic)</label>
                                <input class="form-control btn-pill" id="newsdetail-title-ar" name="newsdetail-title-ar" type="text" value="{{data.section_2_title_ar}}" placeholder="Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-newsdetail-title-ar"></p>

                            </div>
                        </div>
                    </div>

                   
                    
                    <!--heading content-->
                        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="newsdetail-content-en">Content (English)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="newsdetail-content-en" name="newsdetail-content-en" type="text" placeholder="content (English)">{{data.section_2_content_en}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-newsdetail-content-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="newsdetail-content-ar">Content (Arabic)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="newsdetail-content-ar" name="newsdetail-content-ar" type="text"  placeholder="content (Arabic)">{{data.section_2_content_ar}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-newsdetail-content-ar"></p>

                            </div>
                        </div>
                    </div>


                    <!--section 2-->
                    <br>
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>SEO Section</h4>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-title-en">SEO Title (English)</label>
                                <input class="form-control btn-pill " id="meta-title-en" name="meta_title_en" type="text" value="{{data.meta_title_en}}" placeholder="Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-title-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-title_ar">SEO Title (Arabic)</label>
                                <input class="form-control btn-pill" id="meta-title-ar" name="meta_title_ar" type="text" value="{{data.meta_title_ar}}" placeholder="Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-title-ar"></p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-content-en">SEO Content (English)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="meta-content-en" name="meta-content-en" type="text" placeholder="content (English)">{{data.meta_content_en}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-content-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-content-ar">SEO Content (Arabic)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="meta-content-ar" name="meta-content-ar" type="text"  placeholder="content (Arabic)">{{data.meta_content_en}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-content-ar"></p>

                            </div>
                        </div>
                    </div>



                    
                   
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-primary" type="submit" onclick ="return savethedata()">Save</button>
                    <input class="btn btn-light" type="reset" value="Cancel" onclick = "return backtolist()">
                </div>
            </form>
        </div>
    </div>
</div>



<!--javascript-->
<script>


    function  backtolist(){

        url = "{% url 'cmspages_urls' %}";
        

        window.location.href = url
        return false

        
    }

    

    function savethedata(){
        

            try{

                //text

                var nd_title_en = document.getElementById("newsdetail-title-en")
                var nd_title_ar = document.getElementById("newsdetail-title-ar")
                var nd_content_en = document.getElementById("newsdetail-content-en")
                var nd_content_ar = document.getElementById("newsdetail-content-ar")
                var seo_title_en = document.getElementById("meta-title-en")
                var seo_title_ar = document.getElementById("meta-title-ar")
                var seo_content_en = document.getElementById("meta-content-en")
                var seo_content_ar = document.getElementById("meta-content-ar")
                var top_error = document.getElementById('heading-warning')
                var missing_text = document.getElementById('heading-error')
                var heading_banner = document.getElementById("newsdetail-heading-section-banner")

                //image
                var heading_banner_1 = heading_banner.files[0]

                const form_data = [
                    { id: "newsdetail-title-en", name: "Title (English)" },
                    { id: "newsdetail-title-ar", name: "Title (Arabic)" },
                    { id: "newsdetail-content-en", name: "Content (English)" },
                    { id: "newsdetail-content-ar", name: "Content (Arabic)" },
                    { id: "meta-title-en", name: "Title (English)" },
                    { id: "meta-title-ar", name: "Title (Arabic)" },
                    { id: "meta-content-en", name: "Content (English)" },
                    { id: "meta-content-ar", name: "Content (Arabic)" },

                ];


                document.querySelectorAll('.error-message').forEach((msg) => {
                msg.style.display = 'none';
                msg.innerText = '';
                });

                top_error.innerText =""

                var sendData = "true"

                try{
                    for (const field of form_data) {
                    const input = document.getElementById(field.id);
                    const errorMsg = document.getElementById(`error-${field.id}`);
                //document.getElementById("saveConfirmationModal")

                        if (!input.value.trim()) {
                            try{

                            errorMsg.innerText = `Please fill in ${field.name}.`;
                            errorMsg.style.display = 'block'; 
                        //$('#saveConfirmationModal').modal('hide');
                            
                                top_error.innerText = "There Should be no empty Field"
                                top_error.style.color = "red"

                                document.documentElement.scrollTop = 0;
                            //document.documentElement.scrollTop = 0

                                sendData = "false"
                                break;
                        }
                        catch(err){
                            console.log(err)
                            return false
                        }
                            
                    }
                }

                }
                catch(err){
                    console.log(err)
                    return false
                }

                if(sendData== "true"){
                    const formData = new FormData();
                    //text
                    formData.append('nd_title_en', nd_title_en.value );
                    formData.append('nd_title_ar', nd_title_ar.value );
                    formData.append('nd_content_en', nd_content_en.value );
                    formData.append('nd_content_ar', nd_content_ar.value );
                    formData.append('seo_title_en', seo_title_en.value );
                    formData.append('seo_title_ar', seo_title_ar.value );
                    formData.append('seo_content_en', seo_content_en.value );
                    formData.append('seo_content_ar', seo_content_ar.value );

                    if (heading_banner.files.length > 0) {
                        formData.append('heading_banner',heading_banner_1);
                    } 
                    else {
                        console.log("already have image")
                    }


                    fetch("/savenewsdetail/", {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken') 
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        location.reload()
                        
                        
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        location.reload()
                    });

                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                }
                return false

                
                
                //console.log(country_name_ar.value)
                
            }
            catch(err){

                console.log(err)
              return false
            }
                
        }
   
            
            
            
        
        
    
        
    
    function displayImageBanner(event) {
        try{
            const file = event.target.files[0];
        const imgElement = document.getElementById('selected-banner');
        
        if (file) {
            const reader = new FileReader();
            
            reader.onload = function(e) {
                imgElement.src = e.target.result;
                imgElement.style.display = 'block'; // Show the selected image
            }
            
            reader.readAsDataURL(file);
        } else {
            imgElement.style.display = 'none'; // Hide the placeholder if no file is selected
        }
        }
        catch(err){
            var icon_warning = document.getElementById('banner-warning')

            icon_warning.value = err

            icon_warning.style.color = "red";

        }
        
    }

    
</script>
{% endblock %}

