{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->

{% endblock %}
{% block title %}Success Story Page Edit{% endblock %}

{% block content %}
{% include "components/loader.html" %}

<div class="page-body">
    <div class="container-fluid">
        {% include "layouts/breadcrumb.html" %}
        <div class="card">
            <form class="form theme-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div>
                        <h1 style="font-size:25px">CMS Success Story Page Edit</h1>
                    </div>    

                    <p class = "erro-heading" id="heading-error"></p>

                    <br>     
                    <div>
                        <p id = "heading-warning"></p>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>Heading Section</h4>
                    </div>
                    <div style="border-top: 1px solid #ccc; margin-top: 5px; margin-bottom: 20px;"></div>
                    
                    <!--heading-->
                        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-title">Heading Title (English)</label>
                                <input class="form-control btn-pill " id="heading-section-title-en" name="heading_section_title" type="text" value="{{data.heading_title_en}}" placeholder="Heading Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-title-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-title_arabic">Heading Title (Arabic)</label>
                                <input class="form-control btn-pill" id="heading-section-title-ar" name="heading_section_title" type="text" value="{{data.heading_title_ar}}" placeholder="Heading Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-title-ar"></p>

                            </div>
                        </div>
                    </div>

                   
                    
                    <!--heading content-->
                        
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-content">Heading Content (English)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="heading-section-content-en" name="heading_section_content_ar" type="text" placeholder="Heading content (Arabic)">{{data.heading_content_en}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-content-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-title_arabic">Heading Content (Arabic)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="heading-section-content-ar" name="heading_section_content_ar" type="text"  placeholder="Heading content (Arabic)">{{data.heading_content_ar}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-heading-section-content-ar"></p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="heading-section-banner">Heading banner </label>
                                <input class="form-control btn-pill" id="heading-section-banner" name="heading_section_banner" type="file"  onchange= "displaybanner(event)" accept="image/*">
                                

                                <img id="selected-banner"src = "/media/{{data.heading_banner}}" style="display:block; width: 300px; height: 50px;" />

                            </div>
                        </div>
                        <p id = "banner-warning"></p>
                    </div>

                    <!--sub-section-2-->
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>Tryouts Clubs </h4>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="tryoutclubs-title-en">Heading Title (English)</label>
                                <input class="form-control btn-pill " id="tryoutclubs-title-en" name="tryoutclubs_title_en" type="text" value="{{data.section_2_title_en}}" placeholder="Heading Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-tryoutclubs-title-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="tryoutclubs-title_ar">Heading Title (Arabic)</label>
                                <input class="form-control btn-pill" id="tryoutclubs-title-ar" name="tryoutclubs_title_ar" type="text" value="{{data.section_2_title_ar}}" placeholder="Heading Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-tryoutclubs-title-ar"></p>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="margin-bottom: 10px;">
                        <h4>SEO Section</h4>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-title-en">SEO Title (English)</label>
                                <input class="form-control btn-pill " id="meta-title-en" name="meta_title_en" type="text" value="{{data.meta_title_en}}" placeholder="Title (English)">
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-title-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-title_ar">SEO Title (Arabic)</label>
                                <input class="form-control btn-pill" id="meta-title-ar" name="meta_title_ar" type="text" value="{{data.meta_title_ar}}" placeholder="Title (Arabic)">
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-title-ar"></p>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-content-en">SEO Content (English)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="meta-content-en" name="meta-content-en" type="text" placeholder="content (English)">{{data.meta_content_en}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-content-en"></p>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label" for="meta-content-ar">SEO Content (Arabic)</label>
                                <textarea style ="height:200px;border-radius:1px;border:1px solid silver;" class="form-control btn-pill " id="meta-content-ar" name="meta-content-ar" type="text"  placeholder="content (Arabic)">{{data.meta_content_ar}}</textarea>
                                <p style="color: red; display: none;" class="error-message" id ="error-meta-content-ar"></p>

                            </div>
                        </div>
                    </div>


                    
                   
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-primary" type="submit" onclick ="return savethedata()">Save</button>
                    <input class="btn btn-light" type="reset" value="Cancel" onclick = "return backtolist()">
                </div>
            </form>
        </div>
    </div>
</div>

<!--javascript-->
<script>


    function displaybanner(event) {
        try{
            const file = event.target.files[0];
            const imgElement = document.getElementById('selected-banner');

        if (file) {
            const reader = new FileReader();
            
            reader.onload = function(e) {
                imgElement.src = e.target.result;
                imgElement.style.display = 'block'; 
            }
            
            reader.readAsDataURL(file);
        } else {
            imgElement.style.display = 'none'; 
        }
        }
        catch(err){
            alert(err)
            var icon_warning = document.getElementById('banner-warning')

            icon_warning.innerText = err

            icon_warning.style.color = "red";

        }
        
    }

    function  backtolist(){

        url = "{% url 'cmspages_urls' %}";
        

        window.location.href = url
        return false

        
    }

    
   
    function savethedata(){
        
    try{

                //text
                var heading_title_en = document.getElementById("heading-section-title-en")
                var heading_title_ar = document.getElementById("heading-section-title-ar")
                var heading_content_en = document.getElementById("heading-section-content-en")
                var heading_content_ar = document.getElementById("heading-section-content-ar")
                var heading_banner = document.getElementById("heading-section-banner")
                var  tryoutclubs_title_en = document.getElementById("tryoutclubs-title-en")
                var  tryoutclubs_title_ar = document.getElementById("tryoutclubs-title-ar")
                var seo_title_en = document.getElementById("meta-title-en")
                var seo_title_ar = document.getElementById("meta-title-ar")
                var seo_content_en = document.getElementById("meta-content-en")
                var seo_content_ar = document.getElementById("meta-content-ar")
                var top_error = document.getElementById('heading-warning')
                var missing_text = document.getElementById('heading-error')

                //Image
                var banner= heading_banner.files[0]

                const form_data = [
                    { id: "heading-section-title-en", name: "Title (English)" },
                    { id: "heading-section-title-ar", name: "Title (Arabic)" },
                    { id: "heading-section-content-en", name: "Content (English)" },
                    { id: "heading-section-content-ar", name: "Content (Arabic)" },
                    { id: "tryoutclubs-title-en", name: "Title (English)" },
                    { id: "tryoutclubs-title-ar", name: "Title (Arabic)" },
                    { id: "meta-title-en", name: "Title (English)" },
                    { id: "meta-title-ar", name: "Title (Arabic)" },
                    { id: "meta-content-en", name: "Content (English)" },
                    { id: "meta-content-ar", name: "Content (Arabic)" },


                ];


                document.querySelectorAll('.error-message').forEach((msg) => {
                msg.style.display = 'none';
                msg.innerText = '';
            });

            top_error.innerText =""

            var sendData = "true"


                try{
                    for (const field of form_data) {
                    const input = document.getElementById(field.id);
                    const errorMsg = document.getElementById(`error-${field.id}`);
                //document.getElementById("saveConfirmationModal")

                        if (!input.value.trim()) {
                            try{

                            errorMsg.innerText = `Please fill in ${field.name}.`;
                            errorMsg.style.display = 'block'; 
                        //$('#saveConfirmationModal').modal('hide');
                            
                                top_error.innerText = "There Should be no empty Field"
                                top_error.style.color = "red"

                                document.documentElement.scrollTop = 0;
                            //document.documentElement.scrollTop = 0

                                sendData = "false"
                                break;
                        }
                        catch(err){
                            alert(err)
                            return false
                        }
                            
                    }
                }

                }
                catch(err){
                    alert(err)
                    return false
                }

                if(sendData == 'true'){
                    const formData = new FormData();


                                        
                   
                    //text
                    formData.append('heading_title_en', heading_title_en.value );
                    formData.append('heading_title_ar', heading_title_ar.value );
                    //formData.append('heading_section_video', heading_section_video);
                    formData.append('heading_content_en', heading_content_en.value );
                    formData.append('heading_content_ar', heading_content_ar.value );
                    formData.append('tryoutclubs_title_en', tryoutclubs_title_en.value );
                    formData.append('tryoutclubs_title_ar', tryoutclubs_title_ar.value );

                    formData.append('meta-title-en', seo_title_en.value );
                    formData.append('meta-title-ar', seo_title_ar.value );
                    formData.append('meta-content-en', seo_content_en.value );
                    formData.append('meta-content-ar', seo_content_ar.value );

                    if (heading_banner.files.length > 0) {
                        formData.append('heading_banner', banner);
                     } 
                    else {
                        console.log("already have image")
                    }
                    //images
                    //formData.append('banner',banner);


                    fetch("/saveSuccessStory/", {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken') 
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        location.reload()

                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        location.reload()

                    });

                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                }

                return false

                
               
            
                
                //console.log(country_name_ar.value)
                
               

            }
            catch(err){
                alert("1: "+err)
                return false;

                return false;
            }
        }
    
        
    

    
</script>
{% endblock %}

