{% extends 'base.html' %} {% load custom_filters %} {% load static %} {% load sass_tags %} {% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Plugins css Ends-->
<style>
	.profile-info .label-value {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;
	}

	.card-header,
	.card-body {
		padding: 1.5rem;
	}

	.card-footer {
		text-align: right;
		padding: 1rem;
	}

	/* Ensure the back button is at the end of the large card */
	.card-footer a.btn-secondary {
		display: inline-block;
		margin-top: 20px;
	}

	.widget-1 {
		margin-bottom: 25px;
		background-color: #ffffff;
		border: 1px solid #e4e4e4 !important;
		box-shadow: 0 0 6px 2px #00000026;
		border-radius: 9px;
		background-image: url({% static 'assets/images/dashboard/goal/widget-bg.png' %});
	}
</style> {% endblock %} {% block title %} {{title}} | Page {% endblock %} {% block content %} <div class="page-body">
	<!-- Big Card -->
	<div class="card" style="margin-top:100px;">
		<div class="card-body">
			<div class="row">
				<!-- Profile Information -->
				<div class="col-xl-12">
					<div class="card-header d-flex justify-content-between align-items-center">
						<h4 class="card-title mb-0">Profile Details</h4>
						<!-- Back Button -->									
						<a class="btn btn-secondary btn-sm" href="{% url source_page %}">
							<i class="fa fa-arrow-left me-1"></i> Back
						</a>
					</div>
					<div class="card-body">
						<div class="info">
							<div class="row g-3">
								<!-- Left Column -->
								<div class="col-12 col-sm-6 col-xl-4 order-sm-1 order-xl-0">
									<div class="row g-3 mb-3">
										<div class="col-12 col-md-6">
											<div class="ttl-info text-start">
												<h6>
													<i class="fa fa-user"></i> Full Name
												</h6>
												<span>
													{% if user.fullname %}
													   {{ user.fullname }}
													{% else %}
													   {% if user.first_name and user.last_name %}
														  {{ user.first_name }} {{ user.last_name }}
													   {% elif user.first_name %}
														  {{ user.first_name }}
													   {% elif user.last_name %}
														  {{ user.last_name }}
													   {% else %}
														  None
													   {% endif %}
													{% endif %}
												</span>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="ttl-info text-start">
												<h6>
													<i class="fa fa-birthday-cake"></i> Date of Birth
												</h6>
												<span>{{ user.date_of_birth|default:"None" }}</span>
											</div>
										</div>
									</div>
									<div class="row g-3">
										<div class="col-12 col-md-6">
											<div class="ttl-info text-start">
												<h6>
													<i class="fa fa-envelope"></i> Email
												</h6>
												<span>{{ user.email|default:"None" }}</span>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="ttl-info text-start">
												<h6>
													<i class="fa fa-flag"></i> Nationality
												</h6>
												<span>{{ user.nationality|default:"None" }}</span>
											</div>
										</div>
									</div>
								</div>
								<!-- Middle Column -->
								<div class="col-12 col-sm-12 col-xl-4 order-sm-0 order-xl-1 d-flex flex-column align-items-center text-center">
									<img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'frontend/assets/images/success-stories/player-1.png' %}{% endif %}" alt="Profile Picture" class="rounded-circle mb-3" style="width: 80px; height: 80px; object-fit: cover;">
									<div class="w-100 mb-3">
										<div class="title mb-1">
											<a>{{ user.username }}</a>
										</div>
										<div class="desc">
											<i class="fa fa-briefcase"></i> {{ user.role.name_en }}
										</div>
									</div>
								</div>
								<!-- Right Column -->
								<div class="col-12 col-sm-6 col-xl-4 order-sm-2 order-xl-2">
									<div class="row g-3 mb-3">
										<div class="col-12 col-md-6">
											<div class="ttl-info text-start">
												<h6>
													<i class="fa fa-phone"></i> Phone
												</h6>
												<span>{{ user.phone|default:"None" }}</span>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="ttl-info text-start">
												<h6>
												 	<i class="fa fa-venus-mars"></i> Gender
												</h6>
												<span>{{ user.gender.name_en|default:"None" }}</span>
											</div>
										</div>
									</div>
									<div class="row g-3">
										<div class="col-12 col-md-6">
											<div class="ttl-info text-start">
												<h6>
													<i class="fa fa-globe"></i> Country
												</h6>
												<span>{{ user.country.name |default:"None" }}</span>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<div class="ttl-info text-start">
												<h6>
													<i class="fa fa-building"></i> City
												</h6>
												<span>{{ user.city.name|default:"None" }}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>
					<div class="card-header">
						<h4 class="card-title mb-0">Additional Information</h4>
					</div>
					<div class="card-body">
						<div class="info">
							<div class="row g-3">
								<!-- Each item stacks on smaller screens -->
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-balance-scale"></i> Weight
										</h6>
										<span>{{ user.weight|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-arrows-v"></i> Height
										</h6>
										<span>{{ user.height|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-soccer-ball-o"></i> Main Playing Position
										</h6>
										<span>{{ user.main_playing_position|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-soccer-ball-o"></i> Secondary Playing Position
										</h6>
										<span>{{ user.secondary_playing_position|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-chevron-circle-right"></i> Playing Foot
										</h6>
										<span>{{ user.playing_foot.name_en|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-home"></i> Favourite Local Team
										</h6>
										<span>{{ user.favourite_local_team|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-users"></i> Favourite Team
										</h6>
										<span>{{ user.favourite_team|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-user"></i> Favourite Local Player
										</h6>
										<span>{{ user.favourite_local_player|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-user"></i> Favourite Player
										</h6>
										<span>{{ user.favourite_player|default:"None" }}</span>
									</div>
								</div>
								<div class="col-12">
									<div class="ttl-info text-start">
										<h6>
											<i class="fa fa-comment"></i> Bio
										</h6>
										<span>{{ user.bio|default:"None" }}</span>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div> {% if user.role.id == 2 or user.role.id == 3 or user.role.id == 4 %} <div class="card-header">
						<h4 class="card-title mb-0">{{user.role.name_en}} Statistics</h4>
					</div> {% if stats %} <div class="row"> {% if user.role.id == 2 %}
						<!-- Player Stats -->
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/game-played.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.matchplayed }}</h4>
											<span class="f-light">Games Played</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/wins.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.win }}</h4>
											<span class="f-light">Wins</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/losses.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.loss }}</h4>
											<span class="f-light">Losses</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/draw.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.draw }}</h4>
											<span class="f-light">Draws</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/goal.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.goals }}</h4>
											<span class="f-light">Goals</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/assists.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.assists }}</h4>
											<span class="f-light">Assists</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/yellow-card.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.yellow_card }}</h4>
											<span class="f-light">Yellow Cards</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/red-card.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.red }}</h4>
											<span class="f-light">Red Cards</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="card">
								<div class="card-header">Player Performance Stats</div>
								<div class="card-body">
									<button id="edit-player-performence" class="btn btn-primary">Edit</button>
									<div class="row">
										<div class="col-md-6">
											<table class="table">
												<tbody>
													<tr>
														<td>Passing</td>
														<td>
															<span class="editable" data-field="player_passing">{{ player_stats.passing }}</span>
															<input type="text" value="{{ player_stats.passing }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Shooting</td>
														<td>
															<span class="editable" data-field="player_shooting">{{ player_stats.shooting }}</span>
															<input type="text" value="{{ player_stats.shooting }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Interception</td>
														<td>
															<span class="editable" data-field="player_interception">{{ player_stats.interception }}</span>
															<input type="text" value="{{ player_stats.interception }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Dribbling</td>
														<td>
															<span class="editable" data-field="player_dribbling">{{ player_stats.dribbling }}</span>
															<input type="text" value="{{ player_stats.dribbling }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Tackling</td>
														<td>
															<span class="editable" data-field="player_tackling">{{ player_stats.tackling }}</span>
															<input type="text" value="{{ player_stats.tackling }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Aerial Duels</td>
														<td>
															<span class="editable" data-field="player_aerial_duals">{{ player_stats.aerial_duals }}</span>
															<input type="text" value="{{ player_stats.aerial_duals }}" class="form-control" style="display:none">
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										
										<div class="col-md-6">
											<table class="table">
												<tbody>
													<tr>
														<td>Stamina</td>
														<td>
															<span class="editable" data-field="player_stamina">{{ player_stats.stamina }}</span>
															<input type="text" value="{{ player_stats.stamina }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Speed</td>
														<td>
															<span class="editable" data-field="player_speed">{{ player_stats.speed }}</span>
															<input type="text" value="{{ player_stats.speed }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Strength</td>
														<td>
															<span class="editable" data-field="player_strength">{{ player_stats.strength }}</span>
															<input type="text" value="{{ player_stats.strength }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Jump</td>
														<td>
															<span class="editable" data-field="player_jump">{{ player_stats.jump }}</span>
															<input type="text" value="{{ player_stats.jump }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Balance</td>
														<td>
															<span class="editable" data-field="player_balance">{{ player_stats.balance }}</span>
															<input type="text" value="{{ player_stats.balance }}" class="form-control" style="display:none">
														</td>
													</tr>
													<tr>
														<td>Agility</td>
														<td>
															<span class="editable" data-field="player_agility">{{ player_stats.agility }}</span>
															<input type="text" value="{{ player_stats.agility }}" class="form-control" style="display:none">
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						{% elif user.role.id == 3 %}
						<!-- Coach Stats -->
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/game-played.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.matchplayed }}</h4>
											<span class="f-light">Games Coached</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/wins.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.win }}</h4>
											<span class="f-light">Wins</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/losses.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.loss }}</h4>
											<span class="f-light">Losses</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/draw.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.draw }}</h4>
											<span class="f-light">Draws</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/yellow-card.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.yellow_card }}</h4>
											<span class="f-light">Team's Yellow Cards</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/red-card.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.red }}</h4>
											<span class="f-light">Team's Red Cards</span>
										</div>
									</div>
								</div>
							</div>
						</div> {% elif user.role.id == 4 %}
						<!-- Referee Stats -->
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/game-played.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.matchplayed }}</h4>
											<span class="f-light">Games Officiated</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/yellow-card.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.yellow_card }}</h4>
											<span class="f-light">Yellow Cards Given</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4 col-lg-3">
							<div class="card widget-1">
								<div class="card-body">
									<div class="widget-content">
										<div class="widget-round">
											<div class="bg-round">
												<img src="{% static 'assets/images/dashboard/goal/red-card.png' %}" width="70%">
											</div>
										</div>
										<div>
											<h4>{{ stats.red }}</h4>
											<span class="f-light">Red Cards Given</span>
										</div>
									</div>
								</div>
							</div>
						</div> {% endif %}
					</div> {% else %} <p>No statistics available.</p> {% endif %} {% endif %}
				</div>
			</div>
		</div>
		{% if user.role.id == 6 %}
		<div class="card-header">
			<h4 class="card-title mb-0">Team Details</h4>
		</div>
		<div class="card-body">
			{% if stats.branch %}
			<div class="row">
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Team Name:</strong> {{ stats.branch.team_name }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Age Group:</strong> {{ stats.branch.age_group_id }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Field Size:</strong> {{ stats.branch.field_size }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Phone:</strong> {{ stats.branch.phone }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Email:</strong> {{ stats.branch.email }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Gender:</strong> {{ stats.branch.gender }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Address:</strong> {{ stats.branch.address }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>City:</strong> {{ stats.branch.city }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>State:</strong> {{ stats.branch.state }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Country:</strong> {{ stats.branch.country_name }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Postal Code:</strong> {{ stats.branch.postalCode }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Country Code:</strong> {{ stats.branch.country_code }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Entry Fees:</strong> {{ stats.branch.entry_fees }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Description:</strong> {{ stats.branch.description }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Created At:</strong> {{ stats.branch.created_at }}
			   </div>
			   <div class="col-12 col-md-6 col-lg-4 mb-3">
				  <strong>Branch Image:</strong>
				  {% if branch.upload_image %}
				  <img src="{{ stats.branch.upload_image.url }}" alt="Branch Image" class="img-fluid" height="50" width="100">
				  {% else %}
				  No Image Available
				  {% endif %}
			   </div>
			</div>
			{% else %}
			<div class="row">
				<div class="col-12">
					<p class="text-danger">No branch joined as manager.</p>
				</div>
			</div>
			{% endif %}			
		 </div>
		{% endif %}
 
	</div>
	<!-- Datatable Section -->
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<!-- Add tab navigation -->
					<ul class="nav nav-tabs" id="dataTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="post-tab" data-bs-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">Post</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="participated_event-tab" data-bs-toggle="tab" href="#participated_event" role="tab" aria-controls="participated_event" aria-selected="false">Participated Event</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="team-tab" data-bs-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">Team</a>
						</li>
					</ul>
					<div class="tab-content" id="dataTabContent">
						<!-- Post Tab  -->
						<div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
							<div class="table-responsive">
								<table class="table table-striped table-bordered" id="post-table">
									<thead>
										<tr>
											<th>No</th>
											<th>Post Title</th>
											<th>Description</th>
											<th>Date Created</th>
										</tr>
									</thead>
									<tbody> {% for post in posts %} <tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ post.title }}</td>
											<td> {% if post.creator_type == post.USER_TYPE %} {{ post.description }} {% else %} Invalid {% endif %} </td>
											<td>{{ post.date_created|date:"d-M-Y" }}</td>
										</tr> {% endfor %} </tbody>
								</table>
							</div>
						</div>
						<!-- Participated Event Tab -->
						<div class="tab-pane fade" id="participated_event" role="tabpanel" aria-labelledby="participated_event-tab">
							<div class="table-responsive">
								<table class="table table-striped table-bordered" id="participated_event-table">
									<thead>
										<tr>
											<th>No</th>
											<th>Event Name</th>
											<th>Event Type</th>
											<th>No of Tickets</th>
											<th>Total Paid</th>
											<th>Booking Date</th>
											<th>Event Date</th>
										</tr>
									</thead>
									<tbody> {% for event_booking in events_bookings %} <tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ event_booking.event.event_name }}</td>
											<td>{{ event_booking.event.event_type }}</td>
											<td>{{ event_booking.ticket_amount|floatformat:0 }}</td>
											<td>{{ event_booking.total_amount }}</td>
											<td>{{ event_booking.created_at|date:"d-M-Y" }}</td>
											<td>{{ event_booking.event.event_date|date:"d-M-Y" }}</td>
										</tr> {% endfor %} </tbody>
								</table>
							</div>
						</div>
						<!-- Team Tab -->
						<div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
							<div class="table-responsive">
								<table class="table table-striped table-bordered" id="team-table">
									<thead>
										<tr>
											<th>No</th>
											<th>Team Name</th>
											<th>Age</th>
											<th>Joining Type</th>
											<th>Joining Date</th>
										</tr>
									</thead>
									<tbody> {% for teams in teams %} <tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ teams.branch_id.team_name }}</td>
											<td>{{ teams.branch_id.age_group_id }}</td>
											<td>{{ teams.get_joinning_type_display }}</td>
											<td>{{ teams.created_at|date:"d-M-Y" }}</td>
										</tr> {% endfor %} </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> {% endblock %} {% block scriptcontent %}
<!-- Plugins JS start-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
<script>
    $(document).ready(function () {
        let changes = {}; // Store changes for later saving

        // Function to initialize fields with existing data
        function initializeFields() {
            $('.editable').each(function () {
                let fieldName = $(this).data('field');
                let currentValue = $(this).text(); // Get the current value from the span

                // If there's existing data, populate the corresponding input field
                if (currentValue) {
                    $(this).next('input').val(currentValue); // Set input value to current value
                }

                // Ensure the input field is hidden and span is visible initially
                $(this).show();
                $(this).next('input').hide();
            });
        }

        // Initialize fields with existing data on page load
        initializeFields();

        // Edit player performance button
        $('#edit-player-performence').click(function () {
            console.log('Edit button clicked for Player Stats');
            $('.editable').each(function () {
                let fieldName = $(this).data('field');
                console.log('Toggling visibility for:', fieldName);
                $(this).hide(); // Hide the span
                $(this).next('input').show(); // Show the input field
            });
        });

        // Handle blur event on text inputs
        $('input[type="text"]').on('blur', function () {
            let newValue = $(this).val(); // Get the new value
            let fieldName = $(this).closest('tr').find('.editable').data('field'); // Get the field name from the span element
            console.log('Blur event triggered. Field:', fieldName, 'New Value:', newValue);

            if (!fieldName) {
                console.error('Field name is missing or undefined. Check the data-field attribute.');
                return; // Exit if the field name is undefined
            }

            // Update the local changes object
            changes[fieldName] = newValue;
            console.log('Updated changes object:', changes);

            // Hide the input field and update the corresponding span
            $(this).hide();
            $(this).prev('span').text(newValue).show();

            // Save changes to the backend
            saveChanges();
        });

        function saveChanges() {
            // Use {{ user.id }} to get the user ID from Django context
            let userId = "{{ user.id }}"; // Injecting user ID from Django template context
            console.log('Saving changes for user ID:', userId);
            console.log('Changes data being sent:', JSON.stringify(changes));

            if (Object.keys(changes).length > 0) {
                $.ajax({
                    url: `/player-games/${userId}/update-stats/`, // Correct the endpoint URL
                    method: 'POST',
                    data: {
                        changes: JSON.stringify(changes),
                        user_id: userId,
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function (response) {
                        console.log('Response from server:', response);
                        if (response.success) {
                            console.log('Data saved successfully!');
                            changes = {}; // Clear the changes object
                        } else {
                            console.error('Error saving data:', response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX request failed:', status, error);
                        console.log(xhr.responseText);
                    }
                });
            } else {
                console.log('No changes to save.');
            }
        }

        // Handle Enter key press event on text inputs
        $('input[type="text"]').on('keydown', function (event) {
            if (event.key === 'Enter') {
                let input = $(this);
                let newValue = input.val();
                let fieldName = input.closest('tr').find('.editable').data('field');
                console.log('Enter key pressed. Field:', fieldName, 'New Value:', newValue);

                if (!fieldName) {
                    console.error('Field name is missing or undefined. Check the data-field attribute.');
                    return; // Exit if the field name is undefined
                }

                changes[fieldName] = newValue;

                saveChanges();
                input.hide();
                input.prev('span').text(newValue).show();
                event.preventDefault();
            }
        });

        // Handle input event on text inputs to allow only numbers and dots
        $('input[type="text"]').on('input', function () {
            var value = $(this).val();
            var regex = /^[0-9.]*$/;
            console.log('Input event triggered. Current value:', value);
            if (!regex.test(value)) {
                console.log('Invalid character removed.');
                $(this).val(value.replace(/[^0-9.]/g, ''));
            }
        });
    });
</script>


<!-- Plugins JS Ends-->
<script>
	$(document).ready(function() {
		// Initialize datatables for both tables
		$('#post-table').DataTable();
		$('#participated_event-table').DataTable();
		$('#team-table').DataTable();
		// Adjust DataTables when tabs are switched
		$('#dataTab a').on('shown.bs.tab', function(e) {
			var target = $(e.target).attr("href");
			if (target === "#post") {
				$('#post-table').DataTable().columns.adjust().draw();
			} else if (target === "#participated_event") {
				$('#participated_event-table').DataTable().columns.adjust().draw();
			} else if (target === "#team") {
				$('#team-table').DataTable().columns.adjust().draw();
			}
		});
	});
</script> {% endblock %}