{% load static %}

<!-- main header -->
<header class="main-header menu-absolute">

    <!--Header-Upper-->
    <div class="header-upper">
        <div class="container container-1620 clearfix">

            <div class="header-inner rpy-10 rel d-flex align-items-center">
                <div class="logo-outer">
                    <div class="logo"><a href="{% url 'index' %}"><img src="{{ header_logo }}" alt="Logo"
                                title="Logo"></a></div>
                </div>

                <div class="nav-outer ms-lg-auto clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header py-10">
                            <div class="mobile-logo">
                                <a href="{% url 'index' %}">
                                    <img src="{{ header_logo }}" alt="Logo" title="Logo">
                                </a>
                            </div>

                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="{% if request.resolver_match.url_name == 'discover' %}active{% endif %}">
                                    <a href="{% url 'discover' %}">Discover</a>
                                </li>
                                <li class="{% if request.resolver_match.url_name == 'success-stories' %}active{% endif %}">
                                    <a href="{% url 'success-stories' %}">Success Stories</a>
                                </li>
                                <li class="{% if request.resolver_match.url_name == 'news' %}active{% endif %}">
                                    <a href="{% url 'news' %}">News</a>
                                </li>
                                <li class="{% if request.resolver_match.url_name == 'advertise' %}active{% endif %}">
                                    <a href="{% url 'advertise' %}">Advertise</a>
                                </li>
                                <li class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                                    <a href="{% url 'about' %}">About</a>
                                </li>
                                <li class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
                                    <a href="{% url 'contact' %}">Contacts</a>
                                </li>
                            </ul>
                        </div>                        

                    </nav>
                    <!-- Main Menu End-->
                </div>



                <!-- Menu Button -->
                <div class="menu-btns">
                    <a href="{% url 'login' %}" class="theme-btn style-one me-4">Login <i
                            class="far fa-arrow-right"></i></a>
                    <a href="{% url 'register' %}" class="theme-btn style-two me-4">Register <i
                            class="far fa-arrow-right"></i></a>
                    <!-- menu sidbar -->
                    <div class="menu-sidebar">
                        <button>
                            <i class="fal fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
</header>


<!--Form Back Drop-->
<div class="form-back-drop"></div>

<!-- Hidden Sidebar -->
<section class="hidden-bar">
    <div class="inner-box text-center">
        <div class="cross-icon"><span class="fa fa-times"></span></div>
        <div class="title">
            <h4>Get Appointment</h4>
        </div>

        <!--Appointment Form-->
        <div class="appointment-form">
            <form method="post" action="#">
                <div class="form-group">
                    <input type="text" name="text" value="" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <textarea placeholder="Message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="theme-btn">Submit now</button>
                </div>
            </form>
        </div>

        <!--Social Icons-->
        <div class="social-style-one">
            <a href="{{ system_settings.facebook }}"><i class="fab fa-facebook-f"></i></a>
            <a href="{{ system_settings.twitter }}"><i class="fab fa-twitter"></i></a>
            <a href="{{ system_settings.instagram }}"><i class="fab fa-instagram"></i></a>
            <a href="{{ system_settings.pinterest }}"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</section>
<!--End Hidden Sidebar -->