{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Add custom CSS if needed here -->
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% include "components/loader.html" %}

<style>
    .profile-box {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
    }

    .card-body {
        padding: 1.5rem;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .cartoon {
        position: absolute;
        bottom: 10px;
        right: 2px;
        width: 200px;
        height: auto;
    }

    .widget {
        margin-bottom: 1.5rem;
    }

    .widget h4 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .widget-content {
        text-align: center;
    }

    .widget-1 {
        margin-bottom: 25px;
        background-color: #ffffff;
        box-shadow: 0 0 6px 2px #00000026;
        border-radius: 9px;
        background-image: url({% static 'assets/images/dashboard/temp/widget-bg.png' %});
    }

    .widget-round.secondary .bg-round svg {
        width: 40px;
        height: 40px;
    }
</style>

<div class="page-body">
    <div class="container-fluid">
        {% include "layouts/breadcrumb.html" %}

        <div class="row widget-grid">
            <div class="col-xxl-4 col-sm-6 box-col-6">
                <div class="card profile-box">
                    <div class="card-body">
                        <div class="media media-wrapper justify-content-between">
                            <div class="media-body">
                                <div class="greeting-user">
                                    <h4 class="f-w-600">Welcome to Goalactico</h4>
                                    <p>Here what’s happening in your account today</p>
                                    <div class="whatsnew-btn">
                                        <a class="btn btn-outline-white">What’s New!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cartoon" style="animation: none; bottom: 0px !important; right: 0px !important;">
                            <img class="img-fluid" src="/static/assets/images/dashboard/messi.svg" alt="Football player">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round secondary">
                                        <div class="bg-round">
                                            <img src="{% static 'assets/images/dashboard/temp/soccer-player.png' %}" width="70%">
                                        </div>
                                    </div>
                                    <div>
                                        <h4>10,000</h4>
                                        <span class="f-light">Players</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card widget-1">
                                <div class="card-body">
                                    <div class="widget-content">
                                        <div class="widget-round primary">
                                            <div class="bg-round">
                                                <img src="{% static 'assets/images/dashboard/temp/event-management.png' %}" width="70%">
                                            </div>
                                        </div>
                                        <div>
                                            <h4>4,200</h4>
                                            <span class="f-event">Events</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round warning">
                                        <div class="bg-round">
                                            <img src="{% static 'assets/images/dashboard/temp/groups.png' %}" width="70%">
                                        </div>
                                    </div>
                                    <div>
                                        <h4>7,000</h4>
                                        <span class="f-light">Main Teams</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card widget-1">
                                <div class="card-body">
                                    <div class="widget-content">
                                        <div class="widget-round success">
                                            <div class="bg-round">
                                                <img src="{% static 'assets/images/dashboard/temp/team.png' %}" width="70%">
                                            </div>
                                        </div>
                                        <div>
                                            <h4>5,700</h4>
                                            <span class="f-light">Teams</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round warning">
                                        <div class="bg-round">
                                            <img src="{% static 'assets/images/dashboard/temp/online.png' %}" width="70%">
                                        </div>
                                    </div>
                                    <div>
                                        <h4>7,000</h4>
                                        <span class="f-light">Posts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card widget-1">
                                <div class="card-body">
                                    <div class="widget-content">
                                        <div class="widget-round success">
                                            <div class="bg-round">
                                                <img src="{% static 'assets/images/dashboard/temp/tournament.png' %}" width="70%">
                                            </div>
                                        </div>
                                        <div>
                                            <h4>5,700</h4>
                                            <span class="f-light">Tournaments</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round warning">
                                        <div class="bg-round">
                                            <img src="{% static 'assets/images/dashboard/temp/user-profiles.png' %}" width="70%">
                                        </div>
                                    </div>
                                    <div>
                                        <h4>7,000</h4>
                                        <span class="f-light">Default User</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round warning">
                                        <div class="bg-round">
                                            <img src="{% static 'assets/images/dashboard/temp/coach.png' %}" width="70%">
                                        </div>
                                    </div>
                                    <div>
                                        <h4>7,000</h4>
                                        <span class="f-light">Coaches</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round warning">
                                        <div class="bg-round">
                                            <img src="{% static 'assets/images/dashboard/temp/managers.png' %}" width="70%">
                                        </div>
                                    </div>
                                    <div>
                                        <h4>7,000</h4>
                                        <span class="f-light">Managers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card widget-1">
                            <div class="card-body">
                                <div class="widget-content">
                                    <div class="widget-round warning">
                                        <div class="bg-round">
                                            <img src="{% static 'assets/images/dashboard/temp/referee.png' %}" width="70%">
                                        </div>
                                    </div>
                                    <div>
                                        <h4>7,000</h4>
                                        <span class="f-light">Referees</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Add script content if needed -->
{% endblock %}

{% block script %}
<script>
    new WOW().init();  // Initialize any WOW.js animations
</script>
{% endblock %}
